<template>
  <div class="dashboard-container">
    <el-row>
      <el-col :span="4">
        <el-menu
          :default-active="activeMenu"
          class="el-menu-vertical-demo"
          unique-opened
        >
          <el-submenu
            :index="item.index"
            v-for="(item, id) in menuList"
            :key="id"
          >
            <template slot="title">
              <i :class="item.icon"></i>
              <span>{{ item.title }}</span>
            </template>
            <el-menu-item-group>
              <el-menu-item
                :index="subItem.index"
                v-for="(subItem, subId) in item.children"
                :key="subId"
                @click="handleMenuItem(item.index, subItem.index)"
                >{{ subItem.title }}</el-menu-item
              >
            </el-menu-item-group>
          </el-submenu>
        </el-menu>
      </el-col>
      <el-col :span="20">
        <div class="chart_container">
          <!-- 总体概要 -->
          <strategy-summary
            :table="currentData"
            v-if="
              mainMenu == 'strategyAnalyseColumn' && subMenu == 'ZTGY_Table'
            "
          ></strategy-summary>

          <!-- 资产曲线 -->
          <asset-chart
            :table="currentData"
            v-if="
              mainMenu == 'strategyAnalyseColumn' && subMenu == 'ZCQX_Table'
            "
          ></asset-chart>

          <!-- 资产回撤曲线 -->
          <asset-chart-drawn
            :table="currentData"
            v-if="
              mainMenu == 'strategyAnalyseColumn' && subMenu == 'ZCJSXQX_Table'
            "
          ></asset-chart-drawn>

          <!-- 交易明细 -->
          <trade-summary
            :table="currentData"
            v-if="mainMenu == 'tradeAnalyseColumn' && subMenu == 'JYMX_Table'"
          ></trade-summary>

          <!-- 平仓收益 -->
          <close-profit
            :table="currentData"
            v-if="mainMenu == 'tradeAnalyseColumn' && subMenu == 'PCSYQX_Table'"
          ></close-profit>

          <!-- 平仓收益及回撤图 -->
          <close-profit-drawn
            :table="currentData"
            v-if="
              mainMenu == 'tradeAnalyseColumn' && subMenu == 'PCSYQXJHC_Table'
            "
          ></close-profit-drawn>

          <!-- 平仓盈亏散点图 -->
          <close-profit-scatter
            :table="currentData"
            v-if="
              mainMenu == 'tradeAnalyseColumn' && subMenu == 'PCYKSDT_Table'
            "
          ></close-profit-scatter>

          <!-- 平仓盈亏分布图 -->
          <close-profit-distribute
            :table="currentData"
            v-if="
              mainMenu == 'tradeAnalyseColumn' && subMenu == 'PCYKFBT_Table'
            "
          ></close-profit-distribute>

          <!-- 平仓盈亏柱状图 -->
          <close-profit-bar
            :table="currentData"
            v-if="
              mainMenu == 'tradeAnalyseColumn' && subMenu == 'PCYKZXT_Table'
            "
          ></close-profit-bar>

          <!-- 最大浮盈散点图 -->
          <max-profit-scatter
            :table="currentData"
            v-if="
              mainMenu == 'tradeAnalyseColumn' && subMenu == 'ZDFYSDT_Table'
            "
          ></max-profit-scatter>

          <!-- 最大浮亏散点图 -->
          <max-loss-scatter
            :table="currentData"
            v-if="
              mainMenu == 'tradeAnalyseColumn' && subMenu == 'ZDFKSDT_Table'
            "
          ></max-loss-scatter>

          <!-- 最大浮盈平仓盈亏散点图 -->
          <max-profit-close-scatter
            :table="currentData"
            v-if="mainMenu == 'tradeAnalyseColumn' && subMenu == 'ZDFY_PCYKSDT'"
          ></max-profit-close-scatter>

          <!-- 最大浮亏平仓盈亏散点图 -->
          <max-loss-close-scatter
            :table="currentData"
            v-if="mainMenu == 'tradeAnalyseColumn' && subMenu == 'ZDFK_PCYKSDT'"
          ></max-loss-close-scatter>

          <!-- 日交易分析 -->
          <time-analyse
            :table="currentData"
            period="day"
            v-if="mainMenu == 'timeAnalyseColumn' && subMenu == 'RJYFX_Table'"
          ></time-analyse>

          <!-- 月交易分析 -->
          <time-analyse
            :table="currentData"
            period="month"
            v-else-if="
              mainMenu == 'timeAnalyseColumn' && subMenu == 'YJXFX_Table'
            "
          ></time-analyse>

          <!-- 年交易分析 -->
          <time-analyse
            :table="currentData"
            period="year"
            v-else-if="
              mainMenu == 'timeAnalyseColumn' && subMenu == 'NDFX_Table'
            "
          ></time-analyse>

          <!-- 月净值收益与回撤柱形图 -->
          <month-profit-bar
            :table="currentData"
            v-else-if="
              mainMenu == 'timeAnalyseColumn' && subMenu == 'YJZSYYHCZXT_Table'
            "
          ></month-profit-bar>

          <combination-analyse
            :table="currentData"
            :allData="this.reportData"
            v-else-if="
              mainMenu == 'combinationAnalyseColumn' && subMenu == 'ZHSY_Table'
            "
          ></combination-analyse>

          <ge-chart :chartData="chartData" v-if="false"></ge-chart>
        </div>
      </el-col>
    </el-row>
  </div>
</template>

<script>
import GeChart from "@/components/charts/GeChart.vue";
import StrategySummary from "./components/strategyAnalyseColumn/StrategySummary";
import AssetChart from "./components/strategyAnalyseColumn/AssetChart";
import AssetChartDrawn from "./components/strategyAnalyseColumn/AssetChartDrawn";
import TradeSummary from "./components/tradeAnalyseColumn/TradeSummary";
import CloseProfit from "./components/tradeAnalyseColumn/CloseProfit";
import CloseProfitDrawn from "./components/tradeAnalyseColumn/CloseProfitDrawn";
import CloseProfitDistribute from "./components/tradeAnalyseColumn/CloseProfitDistribute";
import CloseProfitScatter from "./components/tradeAnalyseColumn/CloseProfitScatter";
import CloseProfitBar from "./components/tradeAnalyseColumn/CloseProfitBar";
import MaxProfitScatter from "./components/tradeAnalyseColumn/MaxProfitScatter";
import MaxLossScatter from "./components/tradeAnalyseColumn/MaxLossScatter";
import MaxLossCloseScatter from "./components/tradeAnalyseColumn/MaxLossCloseScatter";
import MaxProfitCloseScatter from "./components/tradeAnalyseColumn/MaxProfitCloseScatter";
import TimeAnalyse from "./components/timeAnalyseColumn/TimeAnalyse";
import MonthProfitBar from "./components/timeAnalyseColumn/MonthProfitBar";
import combinationAnalyse from "./components/combinationAnalyseColumn/combinationAnalyse";
import { getReportJson } from "@/api/backTest";

//import jsondata from "./data";
export default {
  components: {
    GeChart,
    StrategySummary,
    AssetChart,
    AssetChartDrawn,
    TimeAnalyse,
    MonthProfitBar,
    MaxLossCloseScatter,
    MaxProfitCloseScatter,
    MaxLossScatter,
    MaxProfitScatter,
    CloseProfitBar,
    CloseProfitScatter,
    CloseProfitDistribute,
    CloseProfitDrawn,
    CloseProfit,
    TradeSummary,
    combinationAnalyse,
  },
  data() {
    return {
      reportData: {},
      menuList: [
        {
          index: "strategyAnalyseColumn",
          title: "策略概要",
          icon: "el-icon-menu",
          children: [
            { index: "ZTGY_Table", title: "总体概要" },
            { index: "ZCQX_Table", title: "资产曲线" },
            { index: "ZCJSXQX_Table", title: "资产及水下(回调)曲线" },
          ],
        },
        {
          index: "tradeAnalyseColumn",
          title: "交易分析",
          icon: "el-icon-sort",
          children: [
            { index: "JYMX_Table", title: "交易明细" },
            { index: "PCSYQX_Table", title: "平仓收益曲线" },
            { index: "PCSYQXJHC_Table", title: "平仓收益及回撤曲线" },
            { index: "PCYKSDT_Table", title: "平仓盈亏散点图" },
            { index: "PCYKFBT_Table", title: "平仓盈亏分布图" },
            { index: "PCYKZXT_Table", title: "平仓盈亏柱形图" },
            { index: "ZDFYSDT_Table", title: "最大浮盈散点图" },
            { index: "ZDFKSDT_Table", title: "最大浮亏散点图" },
            { index: "ZDFY_PCYKSDT", title: "最大浮盈平仓盈亏散点图" },
            { index: "ZDFK_PCYKSDT", title: "最大浮亏平仓盈亏散点图" },
          ],
        },
        {
          index: "timeAnalyseColumn",
          title: "时段分析",
          icon: "el-icon-timer",
          children: [
            { index: "RJYFX_Table", title: "日交易分析" },
            { index: "YJXFX_Table", title: "月交易分析" },
            { index: "NDFX_Table", title: "年度分析" },
            { index: "YJZSYYHCZXT_Table", title: "月净值收益与回撤柱形图" },
          ],
        },
        {
          index: "combinationAnalyseColumn",
          title: "组合分析",
          icon: "el-icon-box",
          children: [{ index: "ZHSY_Table", title: "组合收益图" }],
        },
      ],
      currentData: null,
      activeMenu: "ZCQX_Table",
      mainMenu: "",
      subMenu: "",
      chartData: {
        x: [1, 2, 3],
        y: [{ name: "F1", data: [3, 4, 5] }],
      },
    };
  },
  mounted() {
    var param = {};
    if (this.$route.query.strategyName) {
      param["strategyName"] = this.$route.query.strategyName;
      param["reportType"] = this.$route.query.reportType;
    }
    this.handleGetReportJson(param);
  },
  methods: {
    handleGetReportJson(param) {
      getReportJson(param)
        .then((res) => {
          this.reportData = res.data;
          this.handleMenuItem("strategyAnalyseColumn", "ZCQX_Table");
        })
        .catch((err) => {});
    },
    handleMenuItem(menuIndex, subMenuIndex) {
      this.mainMenu = "";
      this.subMenu = "";
      setTimeout(() => {
        this.mainMenu = menuIndex;
        this.subMenu = subMenuIndex;
        this.currentData = this.reportData[menuIndex][subMenuIndex];
      }, 50);
    },
  },
};
</script>

<style lang="scss" scoped>
.chart_container {
  margin: 10px;
}
.top {
  margin-top: 10px;
}
.dashboard {
  &-container {
    margin: 30px;
  }
  &-text {
    font-size: 30px;
    line-height: 46px;
  }
}
.link-list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
</style>