<template>
  <div id="app">
    <el-radio-group v-model="codeRadio" @change="changeRadio">
      <el-radio v-for="v in radioList" :label="v.key" :key="v.key">
        {{ v.name }}
      </el-radio>
    </el-radio-group>
    <el-row>
      <el-col :span="4">
        <el-menu default-active="2-6" class="el-menu-vertical-demo">
          <el-submenu index="1">
            <template slot="title">
              <i class="el-icon-menu"></i>
              <span>策略分析</span>
            </template>
            <el-menu-item-group>
              <template slot="title">策略分析</template>
              <el-menu-item
                index="1-1"
                @click="handleMenuItem('strategyAnalyseColumn', 'ZTGY_Table')"
                >总体概要</el-menu-item
              >
              <!-- <el-menu-item index="1-2" @click="handleMenuItem()">收益风险分析</el-menu-item>
              <el-menu-item index="1-3" @click="handleMenuItem()">时间仓位分析</el-menu-item>-->
              <el-menu-item
                index="1-4"
                @click="handleMenuItem('strategyAnalyseColumn', 'ZCQX_Table')"
                >资产曲线</el-menu-item
              >
              <el-menu-item
                index="1-5"
                @click="
                  handleMenuItem('strategyAnalyseColumn', 'ZCJSXQX_Table')
                "
                >资产及水下(回调)曲线</el-menu-item
              >
              <!-- <el-menu-item index="1-6" @click="handleMenuItem()">资产升水回撤曲线</el-menu-item>
              <el-menu-item index="1-7" @click="handleMenuItem()">资产升水及回撤曲线</el-menu-item>-->
            </el-menu-item-group>
          </el-submenu>
          <el-submenu index="2">
            <template slot="title">
              <i class="el-icon-sort"></i>
              <span>交易分析</span>
            </template>
            <el-menu-item-group>
              <template slot="title">交易分析</template>
              <el-menu-item
                index="2-1"
                @click="handleMenuItem('tradeAnalyseColumn', 'JYMX_Table')"
                >交易明细</el-menu-item
              >
              <!-- <el-menu-item index="2-2" @click="handleMenuItem()">交易总体分析</el-menu-item>
                        <el-menu-item index="2-3" @click="handleMenuItem()">连续盈亏分析</el-menu-item>
                        <el-menu-item index="2-4" @click="handleMenuItem()">离群交易</el-menu-item>
              <el-menu-item index="2-5" @click="handleMenuItem()">最大浮盈浮亏</el-menu-item>-->
              <el-menu-item
                index="2-6"
                @click="handleMenuItem('tradeAnalyseColumn', 'PCSYQX_Table')"
                >平仓收益曲线</el-menu-item
              >
              <el-menu-item
                index="2-7"
                @click="handleMenuItem('tradeAnalyseColumn', 'PCSYQXJHC_Table')"
                >平仓收益曲线及回撤</el-menu-item
              >
              <!-- <el-menu-item index="2-8" @click="handleMenuItem()">多仓收益曲线及回撤</el-menu-item>
              <el-menu-item index="2-9" @click="handleMenuItem()">空仓收益曲线及回撤</el-menu-item>-->
              <el-menu-item
                index="2-10"
                @click="handleMenuItem('tradeAnalyseColumn', 'PCYKSDT_Table')"
                >平仓盈亏散点图</el-menu-item
              >
              <!-- <el-menu-item index="2-11" @click="handleMenuItem()">有效盈亏率散点图</el-menu-item> -->
              <el-menu-item
                index="2-12"
                @click="handleMenuItem('tradeAnalyseColumn', 'PCYKFBT_Table')"
                >平仓盈亏分布图</el-menu-item
              >
              <el-menu-item
                index="2-13"
                @click="handleMenuItem('tradeAnalyseColumn', 'PCYKZXT_Table')"
                >平仓盈亏柱形图</el-menu-item
              >
              <!-- <el-menu-item index="2-13" @click="handleMenuItem()">最大浮盈分布图</el-menu-item>
                        <el-menu-item index="2-14" @click="handleMenuItem()">最大浮盈 - 平仓平亏柱形图</el-menu-item>
                        <el-menu-item index="2-15" @click="handleMenuItem()">最大浮盈 - 平仓平亏散点图</el-menu-item>
                        <el-menu-item index="2-16" @click="handleMenuItem()">最大浮亏 - 平仓盈亏柱形图</el-menu-item>
                        <el-menu-item index="2-17" @click="handleMenuItem()">最大浮亏 - 平仓盈亏散点图</el-menu-item>-->
              <el-menu-item
                index="2-18"
                @click="handleMenuItem('tradeAnalyseColumn', 'ZDFYSDT_Table')"
                >最大浮盈散点图</el-menu-item
              >
              <el-menu-item
                index="2-19"
                @click="handleMenuItem('tradeAnalyseColumn', 'ZDFKSDT_Table')"
                >最大浮亏散点图</el-menu-item
              >
            </el-menu-item-group>
          </el-submenu>
          <el-submenu index="3">
            <template slot="title">
              <i class="el-icon-timer"></i>
              <span slot="title">时段分析</span>
            </template>
            <el-menu-item-group>
              <template slot="title">时段分析</template>
              <el-menu-item
                index="3-1"
                @click="handleMenuItem('timeAnalyseColumn', 'RJYFX_Table')"
                >日交易分析</el-menu-item
              >
              <el-menu-item
                index="3-2"
                @click="handleMenuItem('timeAnalyseColumn', 'YJXFX_Table')"
                >月绩效分析</el-menu-item
              >
              <!-- <el-menu-item index="3-3" @click="handleMenuItem()">月度分析</el-menu-item> -->
              <el-menu-item
                index="3-4"
                @click="handleMenuItem('timeAnalyseColumn', 'NDFX_Table')"
                >年度分析</el-menu-item
              >
              <el-menu-item
                index="3-5"
                @click="
                  handleMenuItem('timeAnalyseColumn', 'YJZSYYHCZXT_Table')
                "
                >月净值收益与回撤柱形图</el-menu-item
              >
              <!-- <el-menu-item index="3-6" @click="handleMenuItem()"
                        >月净值收益与回撤幅度柱形图
                        </el-menu-item
              >-->
              <!-- <el-menu-item index="3-7" @click="handleMenuItem()">月平仓收益与回撤柱形图</el-menu-item>
                        <el-menu-item index="3-8" @click="handleMenuItem()"
                        >月平仓收益与回撤幅度柱形图
                        </el-menu-item
              >-->
            </el-menu-item-group>
          </el-submenu>
          <el-submenu index="4">
            <template slot="title">
              <i class="el-icon-box"></i>
              <span slot="title">组合分析</span>
            </template>
            <el-menu-item-group>
              <template slot="title">时段分析</template>

              <!-- <el-menu-item index="4-1" @click="handleMenuItem()">汇总概要</el-menu-item>
                        <el-menu-item index="4-2" @click="handleMenuItem()">相关系数</el-menu-item> -->
              <el-menu-item
                index="4-3"
                @click="
                  handleMenuItem('combinationAnalyseColumn', 'ZHSY_Table')
                "
                >组合收益图</el-menu-item
              >
            </el-menu-item-group>
          </el-submenu>
        </el-menu>
      </el-col>

      <el-col :span="20">
        <div>
          <div v-show="selectFuncs == 'ZHSY_Table'">
            <el-tag style="margin-left: 10px" type="success"
              >查看平仓点位</el-tag
            >
            <el-link
              v-for="code in selectCodes"
              :key="code"
              type="primary"
              style="margin-left: 10px"
              @click="linkClick(code)"
            >
              {{ code }}
            </el-link>
          </div>
          <div>
            <ztcy
              v-show="selectPage == 'strategyAnalyseColumn'"
              :data="chartData"
              :inputType="chartInputType"
            ></ztcy>
            <trade
              v-if="selectPage == 'tradeAnalyseColumn'"
              :data="chartData"
              :inputType="chartInputType"
            >
            </trade>
            <time-analyse
              v-show="selectPage == 'timeAnalyseColumn'"
              :data="chartData"
              :inputType="chartInputType"
            >
            </time-analyse>
            <combination
              v-show="selectPage == 'combinationAnalyseColumn'"
              :data="chartData"
              :inputType="chartInputType"
            >
            </combination>
          </div>
        </div>
      </el-col>
    </el-row>
  </div>
</template>
<script>
import data from "./data";
import { mapGetters } from "vuex";
import echarts from "echarts";
import { getCulRedisData, getCulRedisDataList } from "@/api/cheng";
import Ztcy from "./components/strategyAnalyseColumn/ztcy";
import TimeAnalyse from "./components/timeAnalyseColumn/time";
import Trade from "./components/tradeAnalyseColumn/trade";
import Combination from "./components/combinationAnalyseColumn/combinationAnalyse";

export default {
  computed: {
    ...mapGetters(["name"]),
  },
  components: {
    ztcy: Ztcy,
    timeAnalyse: TimeAnalyse,
    trade: Trade,
    combination: Combination,
  },
  data: function () {
    return {
      chartData: data["strategyAnalyseColumn"],
      chartInputType: "ZCQX_Table",
      codeRadio: "",
      selectTag: "",
      radioList: [],
      isCollapse: true,
      tableData: [],
      selectPage: "",
      tablePage: {
        currentPage: 1,
        pageSize: 20,
      },
      tableColumns: [{ index: "index", label: "名字" }],
      menuChartMap: undefined,
      chart: null,
      selectFuncs: "",
      selectCodes: [],
    };
  },
  methods: {
    linkClick(code) {
      console.log(code);
    },
    changeRadio(value) {
      getCulRedisData({ key: value }).then((x) => {
        console.log(x)
        this.menuChartMap = x.responseEntity;
        this.setOptions(this.menuChartMap["ZCQX_Table"]);
      });
    },
    handleMenuItem(name, index) {
      this.chartData = data[name];
      this.chartInputType = index;
      this.selectPage = name;
    },
    initChart() {
      this.setOptions(this.menuChartMap["ZCQX_Table"]);
    },
    setOptions(chartData, table_name) {
      this.chart.clear();
      // todo 这里要改掉
      const datetime = chartData.x;

      const mainPic = chartData.y.filter((x) => {
        return !x["isNewCanvas"];
      });
      let legendOption = chartData.y.map((x) => {
        return x.name;
      });
      this.selectCodes = legendOption;
      const gridOption = [
        {
          left: "10%",
          right: "10%",
          height: "40%",
        },
      ];
      const morePic = chartData.y.filter((x) => {
        return x["isNewCanvas"];
      });
      var xAxisOption = [];
      if (table_name == "PCYKFBT_Table") {
        xAxisOption = [
          {
            type: "value",
            min: "dataMin",
            max: "dataMax",
            boundaryGap: true,
            axisTick: {
              alignWithLabel: true,
            },
          },
        ];
      } else {
        xAxisOption = [
          {
            type: "category",
            min: "dataMin",
            max: "dataMax",
            data: datetime,
            boundaryGap: true,
            axisTick: {
              alignWithLabel: true,
            },
          },
        ];
      }
      const moreIndex = morePic.map((v, k) => {
        return k + 1;
      });

      var dataZoomOption = [
        {
          type: "inside",
          show: true,
          realtime: true,
          start: 0,
          end: 100,
          xAxisIndex: [0].concat(moreIndex),
        },
        {
          type: "slider",
          realtime: true,
          start: 0,
          end: 100,
          xAxisIndex: [0].concat(moreIndex),
        },
      ];

      var yAxisOption = [
        {
          scale: true,
          splitArea: {
            show: true,
          },
        },
      ];
      if (table_name == "PCYKFBT_Table") {
        yAxisOption.push({
          scale: true,
          splitArea: {
            show: true,
          },
        });
      }
      var seriesOption = mainPic.map((x, k) => {
        const ddata = x.data.map((i) => {
          return Math.abs(i) > 10 ? i.toFixed(2) : i.toFixed(5);
        });
        if (table_name == "PCYKFBT_Table") {
          const dd = datetime.map((v, k) => {
            return [v, ddata[k]];
          });
          return {
            name: x.name,
            xAxisIndex: 0,
            yAxisIndex: k,
            type: x.lineType,
            data: dd,
          };
        }
        return {
          name: x.name,
          type: x.lineType,
          data: ddata,
        };
      });

      if (morePic.length > 0) {
        xAxisOption.push.apply(
          xAxisOption,
          morePic.map((v, k) => {
            return {
              show: false,
              gridIndex: k + 1,
              type: "category",
              min: "dataMin",
              max: "dataMax",
              data: datetime,
              position: "top",
            };
          })
        );
        yAxisOption.push.apply(
          yAxisOption,
          morePic.map((v, k) => {
            return {
              gridIndex: k + 1,
              scale: true,
              inverse: true,
            };
          })
        );
        seriesOption.push.apply(
          seriesOption,
          morePic.map((x, k) => {
            return {
              xAxisIndex: k + 1,
              yAxisIndex: k + 1,
              name: x.name,
              type: x.lineType,
              data: x.data.map((i) => {
                return i > 10 ? i.toFixed(2) : i.toFixed(5);
              }),
              areaStyle: {},
            };
          })
        );
        gridOption.push.apply(
          gridOption,
          morePic.map((x, k) => {
            return {
              left: "10%",
              right: "10%",
              height: "20%",
              top: 30 + (k + 1) * 20 + "%",
            };
          })
        );
      }

      var option = {
        // 十字星指示
        tooltip: {
          trigger: "axis",
          axisPointer: {
            type: "cross",
          },
        },
        // 图表
        toolbox: {
          feature: {
            dataZoom: {
              yAxisIndex: false,
            },
          },
        },
        legend: {
          data: legendOption,
        },
        dataZoom: dataZoomOption,
        grid: gridOption,
        xAxis: xAxisOption,
        yAxis: yAxisOption,
        series: seriesOption,
      };
      this.chart.setOption(option);
    },
    handleSizeChange(newSize) {
      this.tablePage.pageSize = newSize;
    },
    handleCurrentChange(currentPage) {
      this.tablePage.currentPage = currentPage;
    },
  },
  beforeDestroy() {
    if (!this.chart) {
      return;
    }
    this.chart.dispose();
    this.chart = null;
  },
  mounted() {
    // todo
    this.handleMenuItem("tradeAnalyseColumn", "PCSYQX_Table");
  },
  computed: {
    currentTableData() {
      const startIndex =
        (this.tablePage.currentPage - 1) * this.tablePage.pageSize;
      const currentTable = this.tableData.slice(
        startIndex,
        startIndex + this.tablePage.pageSize
      );
      return currentTable;
    },
  },
};
</script>

<style lang="scss" scoped>
.top {
  margin-top: 10px;
}
.dashboard {
  &-container {
    margin: 30px;
  }
  &-text {
    font-size: 30px;
    line-height: 46px;
  }
}
.el-pagination {
  margin-top: 5px;
}
</style>
