<template>
  <div ref="yjzChartRef" style="height: 700px"></div>
</template>

<script>
import echarts from "echarts";
export default {
  props: ["table"],
  data() {
    return {
      tableData: []
    };
  },
  created() {
    this.$nextTick(() => {
      this.initData();
    });
  },
  methods: {
    initData() {
      this.tableData = this.table;
      const x = this.tableData.listMonth.map(x => x);
      const profits = this.tableData.listMonthNetProfit.map(x => x.toFixed(4));
      const maxProfits = this.tableData.listMonthMaxProfit.map(x => x.toFixed(4));
      const minProfits = this.tableData.listMonthMinProfit.map(x => x.toFixed(4));
      this.chart = echarts.init(this.$refs.yjzChartRef);
      const legendName = ["最终资产", "最大资产", "最小资产"];
      const option = {
        tooltip: {
          trigger: "axis"
        },
        legend: {
          data: legendName
        },
        toolbox: {
          show: true,
          feature: {
            dataZoom: { yAxisIndex: "none" }
          }
        },
        dataZoom: [
          {
            show: true,
            realtime: true,
            start: 0,
            end: 100,
            xAxisIndex: [0]
          },
          {
            type: "inside",
            realtime: true,
            start: 0,
            end: 100,
            xAxisIndex: [0]
          }
        ],
        axisPointer: {
          link: { xAxisIndex: "all" }
        },
        calculable: true,
        xAxis: [
          {
            name: "月份",
            type: "category",
            data: x
          }
        ],
        yAxis: [
          {
            name: "资产",
            type: "value"
          }
        ],
        series: [
          {
            name: legendName[0],
            type: "bar",
            data: profits
          },
          {
            name: legendName[1],
            type: "bar",
            data: maxProfits
          },
          {
            name: legendName[2],
            type: "bar",
            data: minProfits
          }
        ]
      };
      this.chart.setOption(option);
    }
  }
};
</script>

<style lang="scss" scoped>
</style>
