<template>
  <div>
    <el-table :data="currentTableData" stripe border max-height="760">
      <el-table-column type="index"></el-table-column>
      <el-table-column prop="Date" label="时间段"></el-table-column>
      <el-table-column prop="NetProfit" label="净利润"></el-table-column>
      <el-table-column prop="Profit" label="总亏损"></el-table-column>
      <el-table-column prop="Loss" label="总盈利"></el-table-column>
      <el-table-column prop="ProfitLossRate" label="盈亏比">
        <template slot-scope="scope">{{scope.row.ProfitLossRate}}%</template>
      </el-table-column>
      <el-table-column prop="TradeCount" label="交易次数"></el-table-column>
      <el-table-column prop="WinRate" label="胜率">
        <template slot-scope="scope">{{(scope.row.WinRate * 100).toFixed(2)}}%</template>
      </el-table-column>
    </el-table>
    <el-pagination
      @size-change="handleSizeChange"
      @current-change="handleCurrentChange"
      :current-page="currentPage"
      :page-sizes="[2, 5, 10, 20, 50]"
      :page-size="pageSize"
      layout="total, sizes, prev, pager, next, jumper"
      :total="tableData.length"
    ></el-pagination>
  </div>
</template>

<script>
export default {
  props: ["table", "period"],
  data() {
    return {
      tableData: [],
      currentPage: 1,
      pageSize: 20,
      tableDict: {
        day: "listDayProfit",
        month: "listMonthProfit",
        year: "listYearProfit"
      }
    };
  },
  created() {
    this.initData();
  },
  computed: {
    currentTableData() {
      const startIndex = (this.currentPage - 1) * this.pageSize;
      const currentTable = this.tableData.slice(
        startIndex,
        startIndex + this.pageSize
      );
      return currentTable;
    }
  },
  methods: {
    initData() {
      console.log(this.table);
      console.log(this.period);
      this.tableData = this.table[this.tableDict[this.period]];
    },
    handleSizeChange(newSize) {
      this.pageSize = newSize;
    },
    handleCurrentChange(newPage) {
      this.currentPage = newPage;
    }
  }
};
</script>

<style lang="scss" scoped>
</style>
