<template>
  <div>
    <div v-if="isTable">
      <el-table :data="currentTableData" stripe border max-height="800">
        <el-table-column type="index"></el-table-column>
        <el-table-column prop="Date" label="时间段"></el-table-column>
        <el-table-column prop="NetProfit" label="净利润"></el-table-column>
        <el-table-column prop="Profit" label="总亏损"></el-table-column>
        <el-table-column prop="Loss" label="总盈利"></el-table-column>
        <el-table-column prop="ProfitLossRate" label="盈亏比">
          <template slot-scope="scope">{{scope.row.ProfitLossRate}}%</template>
        </el-table-column>
        <el-table-column prop="TradeCount" label="交易次数"></el-table-column>
        <el-table-column prop="WinRate" label="胜率">
          <template slot-scope="scope">{{scope.row.WinRate * 100}}%</template>
        </el-table-column>
      </el-table>
      <el-pagination
        @size-change="handleSizeChange"
        @current-change="handleCurrentChange"
        :current-page="currentPage"
        :page-sizes="[2, 5, 10, 20, 50]"
        :page-size="pageSize"
        layout="total, sizes, prev, pager, next, jumper"
        :total="tableData.length"
      ></el-pagination>
    </div>
    <div v-if="isPic" ref="yjzChartRef" style="height: 960px"></div>
  </div>
</template>

<script>
import echarts from "echarts";

export default {
  props: {
    inputType: {
      type: String,
      default: "RJYFX_Table"
    },
    data: {
      type: Object,
      default: {}
    }
  },
  computed: {
    isPic() {
      return this.inputType == "YJZSYYHCZXT_Table";
    },
    isTable() {
      return (
        this.inputType == "RJYFX_Table" ||
        this.inputType == "YJXFX_Table" ||
        this.inputType == "NDFX_Table"
      );
    },
    currentTableData() {
      const startIndex = (this.currentPage - 1) * this.pageSize;
      const currentTable = this.tableData.slice(
        startIndex,
        startIndex + this.pageSize
      );
      return currentTable;
    }
  },
  data: function() {
    return {
      chart: null,
      isValue: false,
      tableData: [],
      currentPage: 1,
      pageSize: 20,
      tableDict: {
        RJYFX_Table: "listDayProfit",
        YJXFX_Table: "listMonthProfit",
        NDFX_Table: "listYearProfit"
      }
    };
  },
  watch: {
    inputType: {
      handler(newName, oldName) {
        if (this.isPic) {
          this.$nextTick(() => {
            this.setOptions();
          });
        } else if (this.isTable) {
          const tableName = this.tableDict[newName];
          this.tableData = this.data[newName][tableName];
        }
      }
    }
  },
  created() {
    if (this.isPic) {
      this.$nextTick(() => {
        this.setOptions();
      });
    } else if (this.isTable) {
      const tableName = this.tableDict[this.inputType];
      this.tableData = this.data[this.inputType][tableName];
    }
  },
  methods: {
    getChartData() {
      const ccdata =
        this.inputType == "YJZSYYHCZXT_Table"
          ? this.data["YJZSYYHCZXT_Table"]
          : null;

      if (!ccdata) return;

      const x = ccdata.listMonth.map(x => x);
      const profits = ccdata.listMonthNetProfit.map(x => x);
      const maxProfits = ccdata.listMonthMaxProfit.map(x => x);
      const minProfits = ccdata.listMonthMinProfit.map(x => x);
      return { x, profits, maxProfits, minProfits };
    },
    setOptions() {
      if (!this.$refs.yjzChartRef) {
        this.$message("myChart没有构建好");
        return;
      }

      this.chart = echarts.init(this.$refs.yjzChartRef);
      const chartDd = this.getChartData();
      if (!chartDd) {
        this.$message("数据异常");
        return;
      }
      const legendName = ["最终资产", "最大资产", "最小资产"];
      const option = {
        tooltip: {
          trigger: "axis"
        },
        legend: {
          data: legendName
        },
        toolbox: {
          show: true,
          feature: {
            dataZoom: { show: true }
          }
        },
        calculable: true,
        xAxis: [
          {
            type: "category",
            data: chartDd.x
          }
        ],
        yAxis: [
          {
            type: "value"
          }
        ],
        series: [
          {
            name: legendName[0],
            type: "bar",
            data: chartDd.profits
          },
          {
            name: legendName[1],
            type: "bar",
            data: chartDd.maxProfits
          },
          {
            name: legendName[2],
            type: "bar",
            data: chartDd.minProfits
          }
        ]
      };
      this.chart.setOption(option);
    },
    handleSizeChange(newSize) {
      this.pageSize = newSize;
    },
    handleCurrentChange(newPage) {
      this.currentPage = newPage;
    }
  }
};
</script>

<style>
</style>