<template>
  <div class="dashboard-container">
    <div>
      <h3>任务列表</h3>
    </div>
    <div class="top">
      <el-button type="primary" @click="uploadJob">上传任务</el-button>
    </div>
    <div class="top">
      <el-table :data="tableData" border style="width: 100%">
        <el-table-column prop="ApplicationsId" label="任务ID"></el-table-column>
        <el-table-column prop="Name" label="任务名"></el-table-column>
        <el-table-column prop="Description" label="任务描述"></el-table-column>
        <el-table-column prop="Status" label="状态"></el-table-column>
        <el-table-column prop="TaskType" label="任务类型"></el-table-column>
        <el-table-column prop="SpendTime" label="花费时间(s)" width="100"></el-table-column>
        <el-table-column prop="result" label="操作">
          <template slot-scope="{ row }">
            <el-button
              v-if="row.Status == 'success'"
              type="primary"
              @click="linkResult(row)"
              size="mini"
              >查看结果
            </el-button>
            <el-button size="mini" type="primary" @click="deleteTask(row)"
              >删除</el-button
            >
          </template>
        </el-table-column>
      </el-table>
    </div>
    <el-dialog title="提示" :visible.sync="createJobDialog" width="70%">
      <el-form :model="JobForm" label-width="80px">
        <el-form-item label="任务名称" required>
          <el-input v-model="JobForm.Name"></el-input>
        </el-form-item>
        <el-form-item label="参数" required>
          <el-input type="textarea" v-model="JobForm.Parameter"></el-input>
        </el-form-item>
        <el-form-item label="类型" required>
          <el-radio-group v-model="JobForm.TaskType">
            <el-radio label="回测任务">回测任务</el-radio>
            <el-radio label="因子生成">因子生成</el-radio>
            <el-radio label="label">label</el-radio>
            <el-radio label="数据">数据</el-radio>
          </el-radio-group>
        </el-form-item>
        <el-form-item label="任务描述">
          <el-input type="textarea" v-model="JobForm.Description"></el-input>
        </el-form-item>
        <el-form-item label="代码" required>
          <el-upload
            class="upload-demo"
            action="/cheng/createTask"
            :before-upload="uploadCode"
            :on-success="successUpload"
            :data="JobForm"
          >
            <el-button size="small" type="primary">选择代码并提交</el-button>
          </el-upload>
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button @click="createJobDialog = false">取 消</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
import { getTaskList, deleteLoopTest } from "@/api/cheng";
export default {
  data() {
    return {
      createJobDialog: false,
      JobForm: {},
      tableData: [],
    };
  },
  mounted() {
    this.startGetList();
    setInterval(this.startGetList, 180000);
  },
  watch: {
    createJobDialog: (now, lod) => {
      if (!now) {
        this.JobForm = {};
      }
    },
  },
  methods: {
    startGetList() {
      getTaskList().then((res) => {
        this.tableData = res.responseEntity;
      });
    },
    deleteTask(row) {
      this.$confirm("是否删除", "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning",
      })
        .then(() => {
          deleteLoopTest({ Id: row.Id }).then((res) => {
            this.$message({
              type: "success",
              message: "删除成功!",
            });
            this.startGetList();
          });
        })
        .catch(() => {
          this.$message({
            type: "info",
            message: "已取消删除",
          });
        });
    },
    linkResult(row) {
      this.$router.push({
        path: "/jobs/jobDetail",
        query: { Id: row.Id, TaskType: row.TaskType },
      });
    },
    successUpload(response, file, fileList) {
      if (response.httpCode == -1) {
        this.$message.error("上传失败");
        return;
      }
      this.createJobDialog = false;
      this.startGetList();
    },
    uploadCode(file) {
      if (!this.JobForm.Name) {
        this.$message.error("必须输入任务名称");
        return false;
      }
      if (!this.JobForm.Parameter) {
        this.$message.error("必须输入任务参数");
        return false;
      }
      if (!this.JobForm.TaskType) {
        this.$message.error("必须输入类型");
        return false;
      }
      return true;
    },
    uploadJob(params) {
      this.createJobDialog = true;
    },
  },
};
</script>

<style lang="scss" scoped>
.dashboard {
  &-container {
    margin: 30px;
  }
  &-text {
    font-size: 30px;
    line-height: 46px;
  }
}
.top {
  margin-top: 10px;
}
</style>
