<template>
  <div>
    <el-table :data="targetData" border style="width: 100%">
      <el-table-column prop="name" label="统计指标"></el-table-column>
      <el-table-column prop="value" label="值"></el-table-column>
    </el-table>
  </div>
</template>

<script>
export default {
  props: {
    targetData: {
      type: Array,
      default: ()=>{return []},
    },
  },
};
</script>

<style>
</style>