<template>
  <div>
    <el-table :data="targetData" border style="width: 100%">
      <el-table-column prop="TongJiZhiBiao" label="统计指标"></el-table-column>
      <el-table-column prop="ChiCangShouYi" label="持仓收益"></el-table-column>
      <el-table-column prop="PingCangShouYi" label="平仓收益"></el-table-column>
    </el-table>
  </div>
</template>

<script>
export default {
  props: {
    targetData: {
      type: Object,
      default: [
        { TongJiZhiBiao: "收益率", ChiCangShouYi: "", PingCangShouYi: "" },
        {
          TongJiZhiBiao: "最大使用资金",
          ChiCangShouYi: "",
          PingCangShouYi: "",
        },
        { TongJiZhiBiao: "年化收益率", ChiCangShouYi: "", PingCangShouYi: "" },
        {
          TongJiZhiBiao: "月度平均盈利",
          ChiCangShouYi: "",
          PingCangShouYi: "",
        },
        { TongJiZhiBiao: "总交易时间", ChiCangShouYi: "", PingCangShouYi: "" },
        {
          TongJiZhiBiao: "收益曲线斜率",
          ChiCangShouYi: "",
          PingCangShouYi: "",
        },
        {
          TongJiZhiBiao: "收益曲线截距",
          ChiCangShouYi: "",
          PingCangShouYi: "",
        },
        {
          TongJiZhiBiao: "收益曲线R平方值",
          ChiCangShouYi: "",
          PingCangShouYi: "",
        },
        { TongJiZhiBiao: "夏普比率", ChiCangShouYi: "", PingCangShouYi: "" },
      ],
    },
  },
};
</script>

<style>
</style>