<template>
  <div class="dashboard-container">
    <el-row :gutter="16">
      <el-col :span="18">
        <div>
          <div>
            <h3>收益图</h3>
            <line-chart :chart-data="chartData"></line-chart>
          </div>
          <div style="display: none">
            <div><h3>用于画买的点位图</h3></div>
            <div style="max-height: 100px">
              <el-checkbox
                :indeterminate="isIndeterminate"
                v-model="checkAll"
                @change="handleCheckAllChange"
                >综合</el-checkbox
              >
              <div style="margin: 15px 0"></div>
              <el-checkbox-group
                v-model="checkedCodes"
                @change="handleCheckedCodeChange"
              >
                <el-checkbox v-for="code in codes" :label="code" :key="code">{{
                  code
                }}</el-checkbox>
              </el-checkbox-group>
            </div>
            <div class="top">
              <el-button>生成图表</el-button>
            </div>
          </div>
        </div>
        <!-- <TestBack></TestBack> -->
      </el-col>
      <el-col :span="6">
        <el-tabs v-model="activeName" @tab-click="handleClick">
          <el-tab-pane label="全部交易" name="allTrades"
            ><table2 :targetData="allTrades"></table2
          ></el-tab-pane>
          <el-tab-pane label="多头交易" name="longTrades"
            ><table2 :targetData="longTrades"></table2
          ></el-tab-pane>
          <el-tab-pane label="空头交易" name="shortTrades"
            ><table2 :targetData="shortTrades"></table2
          ></el-tab-pane>
          <el-tab-pane label="其他概要信息" name="allSummary"
            ><table2 :targetData="allSummary"></table2
          ></el-tab-pane>
          <el-tab-pane label="最大资产回撤值" name="assetWithdraw"
            ><table2 :targetData="assetWithdraw"></table2
          ></el-tab-pane>
          <el-tab-pane label="最大资产回撤值比率" name="assetWithdrawRate"
            ><table2 :targetData="assetWithdrawRate"></table2
          ></el-tab-pane>
        </el-tabs>
      </el-col>
    </el-row>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
import LineChart from "@/components/charts/LineChart";
import Table2 from "@/components/tables/table2";
import TestBack from "@/components/charts/TestBack";
import {
  getLoopResTable,
  getLoopResData,
  getLoopResCodes,
  loopResProfit,
} from "@/api/cheng";

export default {
  name: "Dashboard",
  computed: {
    ...mapGetters(["name"]),
  },
  components: { Table2, TestBack, LineChart },
  data() {
    return {
      activeName: "allTrades",
      allTrades: undefined,
      longTrades: undefined,
      shortTrades: undefined,
      allSummary: undefined,
      assetWithdraw: undefined,
      assetWithdrawRate: undefined,
      taskName: undefined,
      selectModel: undefined,
      isIndeterminate: true,
      checkAll: true,
      codes: ["000001.SK", "000002.SK", "000003.SK", "000004.SK"],
      checkedCodes: [],
      chartData: {},
    };
  },
  mounted() {
    this.startGetList();
  },
  methods: {
    handleCheckAllChange(val) {
      this.checkedCodes = val ? this.codes : [];
      this.isIndeterminate = false;
    },
    handleCheckedCodeChange(value) {
      let checkedCount = value.length;
      this.checkAll = checkedCount === this.codes.length;
      this.isIndeterminate =
        checkedCount > 0 && checkedCount < this.codes.length;
    },
    startGetList() {
      this.Id = this.$route.query.Id;
      if (this.Id) {
        getLoopResTable({ Id: this.Id }).then((res) => {
          if (res.httpCode == 200) {
            const data = res.responseEntity;
            this.allTrades = data.allTrades;
            this.longTrades = data.longTrades;
            this.shortTrades = data.shortTrades;
            this.allSummary = data.allSummary;
            this.assetWithdraw = data.assetWithdraw;
            this.assetWithdrawRate = data.assetWithdrawRate;
          }
        });
        loopResProfit({ Id: this.Id }).then((res) => {
          this.chartData = res.responseEntity
        });
        // getLoopResCodes({ Id: this.Id }).then((res) => {
        //   this.codes = res.responseEntity;
        // });
        // getLoopResData({ Id: this.Id }).then((res) => {
        //   if (res.httpCode) {
        //     console.log(res);
        //     // this.=res.responseEntity
        //   }
        // });
      }
    },
    handleClick(tab, event) {
      // console.log(tab, event);
    },
  },
};
</script>

<style lang="scss" scoped>
.top {
  margin-top: 10px;
}
.dashboard {
  &-container {
    margin: 30px;
  }
  &-text {
    font-size: 30px;
    line-height: 46px;
  }
}
</style>
