<template>
  <div :class="className" :style="{ height: height, width: width }" />
</template>

<script>
import echarts from "echarts";
export default {
  props: {
    className: {
      type: String,
      default: "chart",
    },
    width: {
      type: String,
      default: "100%",
    },
    height: {
      type: String,
      default: "55rem",
    },
    chartData: {
      type: Array,
      required: true,
    },
  },
  watch: {
    chartData: {
      deep: true,
      handler(val) {
        if (val) {
          this.chart.clear();
          this.setOptions(val);
          this.chart.resize();
        }
      },
    },
  },
  data() {
    return {
      chart: null,
      datazoomStart: 50,
      datazoomEnd: 100,
    };
  },
  mounted() {
    window.addEventListener("keyup", this.handleUpDown);
    // todo 缩放
    this.$nextTick(() => {
      this.initChart();
    });
  },
  methods: {
    handleUpDown(event) {
      const e = event || window.event || arguments.callee.caller.arguments[0];
      if (!e) return;
      const { key, keyCode } = e;
      switch (key) {
        case "ArrowUp":
          if (this.datazoomStart <= 0) {
            this.updateData();
          } else {
            this.datazoomStart -= 3;
            this.setOptions();
          }
          break;
        case "ArrowDown":
          if (this.datazoomStart > 100) {
          } else {
            this.datazoomStart += 3;
            this.setOptions();
          }
          break;
        default:
          break;
      }
    },
    initChart() {
      this.chart = echarts.init(this.$el);
      if (this.chartData && this.chartData.length > 0) {
        this.setOptions();
      }
    },
    updateData() {
      const st = this.chartData[0].bars[0][0].substring(0, 10);
      const et = this.chartData[0].bars[
        this.chartData[0].bars.length - 1
      ][0].substring(0, 10);
      if (st > this.chartData[0]["min_date"]) {
        this.$parent.setStartTimeEndTime(st, et);
        this.datazoomStart = 50;
      }
    },
    setOptions() {
      var upColor = "#ec0000";
      var upBorderColor = "#8A0000";
      var downColor = "#00da3c";
      var downBorderColor = "#008F28";
      var data = this.chartData[0].bars;
      
      //主图折线数据
      var indexs = this.chartData[0].indicator
        .filter((x) => {
          return !x.GraphType;
        })
        .map((x) => {
          return {
            name: x["name"],
            type: x["type"] ? x["type"] : "line",
            data: x["data"],
            xAxisIndex: 0,
            yAxisIndex: 0,
            smooth: true,
            large: true,
            lineStyle: {
              opacity: 0.5,
            },
          };
        });
      // 副图数据
      var graphLine = this.chartData[0].indicator
        .filter((x) => {
          return x.GraphType;
        })
        .map((x) => {
          return {
            name: x["name"],
            type: "line",
            xAxisIndex: 2,
            yAxisIndex: 2,
            data: x["data"],
            large: true,
            smooth: true,
            lineStyle: {
              opacity: 0.5,
            },
          };
        });

      var series2 = [
        {
          name: "K线",
          type: "candlestick",
          itemStyle: {
            color: upColor,
            color0: downColor,
            borderColor: upBorderColor,
            borderColor0: downBorderColor,
          },
          encode: {
            x: 0,
            y: [1, 4, 3, 2],
          },
        },
        {
          name: "成交量",
          type: "bar",
          xAxisIndex: 1,
          yAxisIndex: 1,
          itemStyle: {
            color: "#7fbe9e",
          },
          large: true,
          encode: {
            x: 0,
            y: 5,
          },
        },
      ]
        .concat(indexs)
        .concat(graphLine);
      var legends = series2.map(x=>{return x["name"]});
      var option = {
        dataset: {
          source: data,
        },
        title: {
          // 股票代码
          text:
            this.chartData[0].code +
            " " +
            (this.chartData[0].name ? this.chartData[0].name : ""),
        },
        // 十字星指示
        tooltip: {
          trigger: "axis",
          axisPointer: {
            type: "cross",
          },
        },
        // 图表
        toolbox: {
          feature: {
            dataZoom: {
              yAxisIndex: false,
            },
          },
        },
        legend: {
          data: legends,
        },
        // 图表
        grid: [
          {
            left: "10%",
            right: "10%",
            bottom: 340,
          },
          {
            left: "10%",
            right: "10%",
            height: 80,
            bottom: 220,
          },
          {
            left: "10%",
            right: "10%",
            height: 100,
            bottom: 80,
          },
        ],
        xAxis: [
          {
            type: "category",
            scale: true,
            boundaryGap: false,
            // inverse: true,
            axisLine: { onZero: false },
            splitLine: { show: false },
            splitNumber: 20,
            min: "dataMin",
            max: "dataMax",
          },
          {
            type: "category",
            gridIndex: 1,
            scale: true,
            boundaryGap: false,
            axisLine: { onZero: false },
            axisTick: { show: false },
            splitLine: { show: false },
            axisLabel: { show: false },
            splitNumber: 20,
            min: "dataMin",
            max: "dataMax",
          },
          {
            type: "category",
            gridIndex: 2,
            scale: true,
            boundaryGap: false,
            axisLine: { onZero: false },
            // axisTick: { show: false },
            // splitLine: { show: false },
            // axisLabel: { show: false },
            splitNumber: 20,
            min: "dataMin",
            max: "dataMax",
            data: this.chartData[0]["date"],
          },
        ],
        yAxis: [
          {
            scale: true,
            splitArea: {
              show: true,
            },
          },
          {
            scale: true,
            gridIndex: 1,
            splitNumber: 2,
            axisLabel: { show: false },
            axisLine: { show: false },
            axisTick: { show: false },
            splitLine: { show: false },
          },
          {
            scale: true,
            gridIndex: 2,
            splitNumber: 2,
            // axisLabel: { show: false },
            // axisLine: { show: false },
            // axisTick: { show: false },
            // splitLine: { show: false },
          },
        ],
        // 用于区域缩放
        dataZoom: [
          {
            type: "inside",
            xAxisIndex: [0, 1, 2],
            start: this.datazoomStart,
            end: this.datazoomEnd,
          },
          {
            show: true,
            xAxisIndex: [0, 1, 2],
            type: "slider",
            bottom: 10,
            start: this.datazoomStart,
            end: this.datazoomEnd,
            handleIcon:
              "M10.7,11.9H9.3c-4.9,0.3-8.8,4.4-8.8,9.4c0,5,3.9,9.1,8.8,9.4h1.3c4.9-0.3,8.8-4.4,8.8-9.4C19.5,16.3,15.6,12.2,10.7,11.9z M13.3,24.4H6.7V23h6.6V24.4z M13.3,19.6H6.7v-1.4h6.6V19.6z",
            handleSize: "105%",
          },
        ],
        visualMap: {
          show: false,
          seriesIndex: 1,
          dimension: 6,
          pieces: [
            {
              value: 1,
              color: upColor,
            },
            {
              value: -1,
              color: downColor,
            },
          ],
        },
        series: series2,
      };

      this.chart.setOption(option);
      this.chart.on("datazoom", (x) => {
        if (x.start == 0) {
          this.updateData();
        }
      });
      // this.chart.on("datazoom", (x) => {
      //   if (x.start == 0) {
      //     const st = this.chartData[0].bars[0][0].substring(0, 10);
      //     const et = this.chartData[0].bars[
      //       this.chartData[0].bars.length - 1
      //     ][0].substring(0, 10);
      //     if (st > this.chartData[0]["min_date"]) {
      //       this.$parent.setStartTimeEndTime(st, et);
      //       this.datazoomStart = 50;
      //     }
      //   }
      // });
    },
  },
};
</script>

<style lang="scss" scoped>
.dashboard {
  &-container {
    margin: 30px;
  }
  &-text {
    font-size: 30px;
    line-height: 46px;
  }
}
.top {
  margin-top: 10px;
}
</style>
