<template>
  <div :class="className" :style="{ height: height, width: width }" />
</template>

<script>
import echarts from "echarts";
import { getTreeMap } from "@/api/cheng";
export default {
  props: {
    className: {
      type: String,
      default: "chart",
    },
    width: {
      type: String,
      default: "100%",
    },
    height: {
      type: String,
      default: "80vh",
    },
    chartData: {
      type: Array,
      required: true,
      default: () => {
        return [];
      },
    },
  },
  watch: {
    chartData: {
      deep: true,
      handler(val) {
        if (val) {
          //   this.chart.clear();
          this.setOptions(val);
            this.chart.resize();
        }
      },
    },
  },
  data() {
    return {
      chart: null,
      formatUtil: null,
    };
  },
  mounted() {
    // todo 缩放
    this.$nextTick(() => {
      this.initChart();
    });
  },
  methods: {
    initChart() {
      this.chart = echarts.init(this.$el);
      getTreeMap({}).then((res) => {
        if (res.httpCode == 200) {
          this.setOptions(res.responseEntity);
        }
      });
    },
    getLevelOption() {
      return [
        {
          itemStyle: {
            borderWidth: 0,
            gapWidth: 5,
          },
        },
        {
          itemStyle: {
            gapWidth: 1,
          },
        },
        {
          colorSaturation: [0.35, 0.5],
          itemStyle: {
            gapWidth: 1,
            borderColorSaturation: 0.6,
          },
        },
      ];
    },
    setOptions(treeData) {
      var option = {
        title: {
          text: "涨幅变化矩阵tree图",
          left: "center",
        },
        tooltip: {
          formatter:this.getTooltipFormatter
        },
        series: [
          {
            name: "股市",
            type: "treemap",
            visibleMin: 300,
            label: {
              show: true,
              formatter: "{b}",
            },
            itemStyle: {
              borderColor: "#fff",
            },
            levels: this.getLevelOption(),
            data: treeData,
          },
        ],
      };
      this.chart.setOption(option);
    },
    getTooltipFormatter(info){
      // 用于绘制提示框
      var data=info.data

      return data.name+" 涨幅:"+data.rate+" 比重:"+data.value
    }
  },
};
</script>

<style>
</style>