<template>
  <div class="bottom">
    <div>
      <el-form :inline="true" :model="user" class="demo-form-inline">
        <el-form-item label="名称">
          <el-input v-model="user.name"></el-input>
        </el-form-item>
        <el-form-item label="账号">
          <el-input v-model="user.username"></el-input>
        </el-form-item>
        <el-form-item label="密码">
          <el-input v-model="user.password"></el-input>
        </el-form-item>
        <el-form-item label="微信登录">
          <el-radio-group v-model="user.weixin">
            <el-radio disabled :label="1">支持</el-radio>
            <el-radio disabled :label="0">不支持</el-radio>
          </el-radio-group>
        </el-form-item>
      </el-form>
    </div>
    <div style="display: flex;align-items: center; margin-top: 10px;">
      <span>功能：</span>
      <el-checkbox :indeterminate="isAllPer" @change="perAllChange">全选</el-checkbox>
      <el-checkbox-group v-model="selectPermissions">
        <el-checkbox v-for="item in permissions" :label="item" :key="item" border>{{item}}</el-checkbox>
      </el-checkbox-group>
    </div>
    <div style="display: flex;align-items: center; margin-top: 30px;">
      <span>产品：</span>
      <el-checkbox :indeterminate="isAllPro" @change="proAllChange">全选</el-checkbox>
      <el-checkbox-group v-model="selectProducts">
        <el-checkbox v-for="item in products" :label="item" :key="item" border>{{item}}</el-checkbox>
      </el-checkbox-group>
    </div>
    <div style="margin-top: 10px;">
      <el-button type="primary" @click="submit" round>提交修改</el-button>
      <el-button type="primary" @click="deleteUser" round>删除</el-button>
    </div>
  </div>
</template>

<script>
import {saveUser} from "@/api/user"
export default {
  name: "",
  props: ["products", "permissions", "user"],
  data() {
    return {
      selectProducts: [],
      selectPermissions: [],
      isAllPer: true,
      isAllPro: true
    };
  },

  components: {},

  computed: {},

  beforeMount() {},

  mounted() {},

  methods: {
    perAllChange(val) {
      this.selectPermissions = val ? this.permissions.slice() : [];
      this.isAllPer = false;
    },
    proAllChange(val) {
      this.selectProducts = val ? this.products.slice() : [];
      this.isAllPro = false;
    },
    submit(){
      this.user.selectProducts=this.selectProducts
      this.user.selectPermissions=this.selectPermissions
      saveUser(this.user).then(res=>{
        this.$message({"type":"success","message":"修改成功"})
      })
    },
    deleteUser(){
      alert("删除功能待完善")
    }
  },

  watch: {
    user: {
      handler: function(val) {
        if (val.fundNames || val.roles) {
          this.selectProducts = val.fundNames.slice();
          this.selectPermissions = val.roles.slice();
        }
      },
      immediate: true,
      deep: true
    }
  }
};
</script>
<style lang='scss' scoped>
.bottom {
  margin-top: 20px;
  padding-bottom: 22px;
  border-bottom: 1px solid #dcdfe6;
}
</style>