<template>
  <el-card class="card" shadow="hover" v-on:click.native="tiDetail">
    <div slot="header" class="card-head">
      <span>{{input.FundName}}</span>
      <el-button style="float: right; padding: 3px 0" type="text" v-on:click.stop="deletePro"  v-if="permissionShow">删除</el-button>
    </div>

    <div class="hang">
      <el-row>
        <el-col :span="12">
          <span class="spanHang">产品净值:</span>
          <span class="spanContent">{{info.NetProfit?info.NetProfit:""}}</span>
        </el-col>
        <el-col :span="12">
          <span class="spanHang">净值收益:</span>
          <span class="spanContent">{{info.NetProfitChange}}%</span>
          <icon :look="info.NetProfitChange>=0"></icon>
        </el-col>
      </el-row>
    </div>

    <div class="hang">
      <el-row>
        <el-col :span="12">
          <span class="spanHang">股票仓位:</span>
          <span
            class="spanContent"
          >{{info.StockMarketValue?(info.StockMarketValue/10000).toFixed(2):0}}W</span>
        </el-col>
        <el-col :span="12">
          <span class="spanHang">股票盈亏:</span>
          <span class="spanContent">{{info.StockMarketValueChange}}</span>
          <icon :look="info.StockMarketValueChange>=0"></icon>
        </el-col>
      </el-row>
    </div>

    <div class="hang">
      <el-row>
        <el-col :span="12">
          <span class="spanHang">期货仓位:</span>
          <span
            class="spanContent"
          >{{info.FutureMarketValue?(info.FutureMarketValue/10000).toFixed(2):0}}W</span>
        </el-col>
        <el-col :span="12">
          <span class="spanHang">期货盈亏:</span>
          <span class="spanContent">{{info.FutureMarketValueChange}}</span>
          <icon :look="info.FutureMarketValueChange>=0"></icon>
        </el-col>
      </el-row>
    </div>
    <div class="hang">
      <el-row>
        <el-col :span="12">
          <span class="spanHang">资金效率:</span>
          <span class="spanContent">{{info.effic}}</span>
        </el-col>
        <el-col :span="12">
          <span class="spanHang">总资产:</span>
          <span class="spanContent">{{info.allMoney?(info.allMoney/10000).toFixed(2):0}}W</span>
        </el-col>
      </el-row>
    </div>

    <div style="margin-top: 15px;"></div>
    <div class="hang1">
      <el-row>
        <el-col :span="12">
          <span class="spanHang">基准代码:</span>
          <span class="spanContent">{{input.BaseCode}}</span>
        </el-col>
        <el-col :span="12">
          <span class="spanHang">初始基金:</span>
          <span class="spanContent">{{input.InitialFunds}}</span>
        </el-col>
      </el-row>
    </div>

    <div class="hang1">
      <el-row>
        <el-col :span="24">
          <span class="spanHang">创建时间:</span>
          <span class="spanContent">{{input.CreateDate}}</span>
        </el-col>
      </el-row>
    </div>
    <div style="margin-top: 15px;"></div>
  </el-card>
</template>

<script>
import { deleteProApi, getRealTimeProfit } from "@/api/bf-product";
import icon from "./icon";
export default {
  props: {
    input: {
      type: Object,
      default: () => ({})
    }
  },
  computed: {
    permissionShow: function() {
      // return checkPermission(["edit"]);
      return true;
    }
  },
  components: { icon },
  data() {
    return {
      info: {}
    };
  },
  watch: {
    input: function(val) {
      this.getRealDate();
    }
  },
  mounted() {
    this.getRealDate();
  },
  methods: {
    getRealDate() {
      const parm = { id: this.input.Id };
      getRealTimeProfit(parm).then(res => {
        this.info = res.data;
        this.info.effic=((this.info.StockMarketValueChange/this.info.StockMarketValue)*100).toFixed(4)+"%"
      });
    },
    tiDetail() {
      const id = this.input.Id;
      const code = this.input.BaseCode;
      const name = this.input.FundName;
      const bfund = this.input.BaseFund;
      this.$router.push({
        path: "/detail",
        query: { id: id, code: code, name: name, bfund: bfund }
      });
    },
    deletePro() {
      const id = this.input.Id;
      this.$confirm("确认删除吗？", "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消"
      })
        .then(() => {
          deleteProApi({ id: id }).then(res => {
            if (res.code) {
              this.$message({
                message: "删除成功",
                type: "success"
              });
            } else {
              this.$message.error("出错了");
            }
          });
        })
        .catch(() => {
          this.$message({
            type: "info",
            message: "已取消删除"
          });
        });
    }
  }
};
</script>
<style lang="scss" scoped>
.card-head {
  font-size: 1.5vw;
  width: auto;
  max-width: 50vw;
}
.card {
  cursor: pointer;
  height: auto;
  margin: 22px;
  width: auto;
  min-width: 26vw;
  float: left;
  .add-zhong {
    margin: auto;
  }
  .hang {
    font-family: Verdana;
    margin-top: 9px;
    width: auto;
    .spanHang {
      color: #606266;
      font-size: 0.97vw;
    }
    .spanContent {
      color: #303133;
      font-size: 1vw;
    }
  }
  .hang1 {
    margin-top: 5px;
    .spanHang {
      color: #606266;
      font-size: 0.87vw;
    }
    .spanContent {
      color: #303133;
      font-size: 0.88vw;
    }
  }
}
</style>