<template>
  <div style="display: inline;">
    <font v-if="look" style="color:#F56C6C;" class="el-icon-caret-top"></font>
    <font v-else style="color:#67C23A;" class="el-icon-caret-bottom"></font>
  </div>
</template>

<script>

  export default {
    name:'',
    props:['look'],
    data () {
      return {

      };
    },

    components: {},

    computed: {},

    beforeMount() {},

    mounted() {},

    methods: {},

    watch: {}

  }

</script>
<style lang='' scoped>

</style>