<template>
  <div :class="className" :style="{height:height,width:width}" />
</template>

<script>
import echarts from "echarts";
require("echarts/theme/macarons"); // echarts theme
import resize from "./mixins/resize";

export default {
  mixins: [resize],
  props: {
    className: {
      type: String,
      default: "chart"
    },
    width: {
      type: String,
      default: "100%"
    },
    height: {
      type: String,
      default: "68vh"
    },
    autoResize: {
      type: Boolean,
      default: true
    },
    code: {
      type: String,
      default: "62vh"
    },
    chartData: {
      type: Object,
      required: true
    }
  },
  data() {
    return {
      chart: null
    };
  },
  watch: {
    chartData: {
      deep: true,
      handler(val) {
        this.setOptions(val);
        // this.initChart()
      }
    }
  },
  mounted() {
    this.$nextTick(() => {
      this.initChart();
    });
  },
  beforeDestroy() {
    if (!this.chart) {
      return;
    }
    this.chart.dispose();
    this.chart = null;
  },
  methods: {
    initChart() {
      // this.chart = echarts.init(document.getElementById('lineChart'));
      this.chart = echarts.init(this.$el);
      if (this.chartData.BaseProfit) {
        this.setOptions(this.chartData);
      }
    },
    setOptions({
      BaseProfit,
      Datetime,
      BaseFundIdProfit,
      Profit,
      StrategyProfit
    } = {}) {
      const code = this.code;
      this.chart.setOption({
        xAxis: {
          id: "time",
          data: Datetime,
          boundaryGap: true,
          axisTick: {
            show: true,
            alignWithLabel: true
          }
        },
        grid: {
          left: 10,
          right: 10,
          bottom: 55,
          top: 30,
          containLabel: true
        },
        dataZoom: [
          {
            type: "inside"
          },
          {
            type: "slider"
          }
        ],
        toolbox: {
          feature: {
            dataZoom: {
              yAxisIndex: false
            }
          }
        },
        tooltip: {
          trigger: "axis",
          axisPointer: {
            type: "cross"
          },
          padding: [5, 10]
        },
        yAxis: {
          axisTick: {
            show: true
          }
        },
        legend: {
          data: [code, "产品", "无对冲", "回测"]
        },
        series: [
          // {
          //   name: "回测",
          //   type: "line",
          //   data: StrategyProfit,
          //   itemStyle: {
          //     normal: {
          //       color: "#2ECC71",
          //       lineStyle: {
          //         color: "#2ECC71",
          //         width: 2
          //       }
          //     }
          //   }
          // },
          {
            name: "无对冲",
            type: "line",
            data: BaseFundIdProfit,
            itemStyle: {
              normal: {
                color: "#F39C12",
                lineStyle: {
                  color: "#F39C12",
                  width: 2
                }
              }
            }
          },
          {
            name: "产品",
            itemStyle: {
              normal: {
                color: "#C0392B",
                lineStyle: {
                  color: "#C0392B",
                  width: 2
                }
              }
            },
            type: "line",
            data: Profit,
            animationDuration: 1000,
            animationEasing: "cubicInOut"
          },
          {
            name: code,
            type: "line",
            itemStyle: {
              normal: {
                color: "#3888fa",
                lineStyle: {
                  color: "#3888fa",
                  width: 2
                },
                areaStyle: {
                  color: "#f3f8ff"
                }
              }
            },
            data: BaseProfit,
            animationDuration: 1000,
            animationEasing: "quadraticOut"
          }
        ]
      });
    this.chart.on('click',(params)=>{
      this.$store.commit("sign/SET_CHART_TIME_LOG",params.name)
    })
    }
  }
};
</script>
