<template>
  <div class="dashboard-container">
    <el-row>
      <el-col :span="6">
        <!-- <div class="code_div">
          <el-input
            v-model="inputCode"
            placeholder="请输入回测品种"
            @keyup.enter.native="add2select"
          ></el-input>
        </div>
        <div>
          <el-link @click="add2select()">
            <i class="el-icon-circle-plus-outline"></i> 添加到回测品种
          </el-link>
        </div> -->
        <div class="address_div">
          <el-input
            v-model="inputIP"
            placeholder="IP:Port"
            @keyup.enter.native="add2IPList"
          ></el-input>
        </div>
        <div>
          <el-link @click="add2IPList()">
            <i class="el-icon-circle-plus-outline"></i> 添加到回测机器
          </el-link>
        </div>
      </el-col>
      <!-- <el-col :span="6">
        <el-table
          :data="tableCodes"
          style="width: 90%"
          :border="true"
          :stripe="true"
          max-height="600"
        >
          <el-table-column prop="code" label="代码"></el-table-column>
          <el-table-column label="操作">
            <template slot-scope="scope">
              <el-button type="text" size="small" @click="removeCode(scope.row)"
                >移除</el-button
              >
            </template>
          </el-table-column>
        </el-table>
      </el-col> -->
      <el-col :span="8">
        <el-table
          :data="tableIPList"
          style="width: 90%"
          :border="true"
          :stripe="true"
          max-height="600"
        >
          <el-table-column prop="ip" label="IP"></el-table-column>
          <el-table-column prop="port" label="端口"></el-table-column>
          <el-table-column label="操作">
            <template slot-scope="scope">
              <el-button type="text" size="small" @click="removeIP(scope.row)"
                >移除</el-button
              >
            </template>
          </el-table-column>
        </el-table>
      </el-col>
    </el-row>
  </div>
</template>

<script>
export default {
  data() {
    return {
      inputCode: "",
      inputIP: "",
      form: {},
      file: null,
    };
  },
  computed: {
    tableCodes() {
      return this.$store.state.parm.tableCodes;
    },
    tableIPList() {
      return this.$store.state.parm.tableIPList;
    },
  },
  methods: {
    removeIP(item) {
      this.$store.commit(
        "parm/SET_IP_LIST",
        this.tableIPList.filter((x) => {
          return !((x.ip == item.ip) & (x.port == item.port));
        })
      );
    },
    removeCode(item) {
      this.$store.commit(
        "parm/SET_TABLE_CODE",
        this.tableCodes.filter((x) => x.code != item.code)
      );
    },
    add2select() {
      if (this.inputCode) {
        this.$store.commit(
          "parm/SET_TABLE_CODE",
          this.tableCodes.concat({ code: this.inputCode })
        );
        this.inputCode = "";
      }
    },
    add2IPList() {
      if (this.inputIP) {
        const input = this.inputIP.split(":");
        if (input.length > 0) {
          const ip = {
            ip: input[0],
            port: input[1],
          };
          if (
            this.tableIPList.filter((x) => x.ip == ip.ip && x.port == ip.port)
              .length == 0
          ) {
            this.$store.commit("parm/SET_IP_LIST",this.tableIPList.concat({ip}))
            this.inputIP = "";
          }
        }
      }
    },
    selectFile(param) {
      this.file = param.file;
    },
  },
};
</script>

<style lang="scss" scoped>
.dashboard {
  &-container {
    margin: 30px;
  }
  &-text {
    font-size: 30px;
    line-height: 46px;
  }
}
.address_div {
  margin-top: 25px;
  width: 90%;
}
.code_div {
  width: 90%;
}
.el-table {
  margin-left: 15px;
}
</style>