<template>
  <div class="dashboard-container">
    <el-row :gutter="20">
      <el-col :span="9">
        <div style="margin-bottom: 10px">
          <div style="margin-bottom: 10px">
            <el-row>
              <el-col :span="12">
                <el-autocomplete
                  ref="anjianGod"
                  class="inline-input"
                  v-model="inputCode"
                  :fetch-suggestions="queryCodeSearch"
                  placeholder="输入回测品种代码"
                  :trigger-on-focus="false"
                  @select="handleCodeSelect"
                ></el-autocomplete>
              </el-col>
              <el-col :span="12"></el-col>
            </el-row>
          </div>
          <el-select
            v-model="currentPoolName"
            slot="prepend"
            placeholder="请选择票池"
            clearable
            @change="handlePoolChange"
            style="margin-bottom: 10px"
          >
            <el-option
              v-for="(item, id) in poolList"
              :key="id"
              :label="item.poolName"
              :value="item.poolName"
            ></el-option>
          </el-select>
          <el-transfer
            v-model="transferRight"
            :data="transferLeft"
            filterable
            :titles="['可选', '已选']"
          >
            <span slot-scope="{option}">{{ option.key }}-{{ option.label }}</span>
            <el-button
              class="transfer-footer"
              slot="left-footer"
              size="small"
              @click="handleClearLeft"
            >清空</el-button>
            <el-button
              class="transfer-footer"
              slot="right-footer"
              size="small"
              @click="handleClearRight"
            >清空</el-button>
          </el-transfer>
        </div>

        <div>
          <el-form ref="form" :model="form" label-width="100px">
            <el-form-item label="回测文件">
              <el-upload multiple action :http-request="selectFile">
                <el-button size="small" type="primary">选择回测文件</el-button>
              </el-upload>
            </el-form-item>
            <el-form-item label="策略名称">
              <el-input v-model="form.title"></el-input>
            </el-form-item>
            <el-form-item label="时间">
              <el-col :span="10">
                <el-date-picker
                  type="date"
                  placeholder="开始"
                  v-model="form.start"
                  value-format="yyyy-MM-dd"
                  style="width: 100%"
                ></el-date-picker>
              </el-col>
              <el-col :span="10">
                <el-date-picker
                  placeholder="结束"
                  type="date"
                  v-model="form.end"
                  value-format="yyyy-MM-dd"
                  style="width: 100%"
                ></el-date-picker>
              </el-col>
            </el-form-item>
            <el-form-item label="回测滑点">
              <el-input v-model="form.slip" type="number"></el-input>
            </el-form-item>
            <el-form-item label="回测手续费">
              <el-input v-model="form.commission" type="number" step="0.0001"></el-input>
            </el-form-item>
            <el-form-item label="初始资金">
              <el-input v-model="form.initCash" type="number" step="0.01"></el-input>
            </el-form-item>
            <el-row>
              <span>动态参数:</span>
            </el-row>
            <el-row :gutter="10">
              <div class="dynamic_container">
                <el-col :span="7">
                  <el-input v-model="currentDynamicObj.name" placeholder="参数描述"></el-input>
                </el-col>
                <el-col :span="7">
                  <el-input v-model="currentDynamicObj.key" placeholder="键"></el-input>
                </el-col>
                <el-col :span="7">
                  <el-input v-model="currentDynamicObj.value" placeholder="值"></el-input>
                </el-col>
                <el-col :span="3">
                  <el-button type="primary" @click="handleAddDynamicParam">添加</el-button>
                </el-col>
              </div>
            </el-row>
            <el-row>
              <el-table :data="dynamicParams" border stripe>
                <el-table-column type="index"></el-table-column>
                <el-table-column label="描述" prop="name"></el-table-column>
                <el-table-column label="键" prop="key"></el-table-column>
                <el-table-column label="值" prop="value"></el-table-column>
                <el-table-column label="操作">
                  <template slot-scope="scope">
                    <el-button
                      type="danger"
                      size="mini"
                      @click="handleDeleteDynamicParam(scope.row)"
                      round
                    >删除</el-button>
                  </template>
                </el-table-column>
              </el-table>
            </el-row>
            <el-form-item>
              <el-button type="primary" @click="submitUpload">开始回测</el-button>
            </el-form-item>
          </el-form>
        </div>
      </el-col>
      <el-col :span="12">
        <el-input
          class="content_input"
          type="textarea"
          readonly
          v-model="strategyContent"
          :rows="25"
          placeholder="策略内容预览"
        ></el-input>
        <records></records>
      </el-col>
    </el-row>
  </div>
</template>

<script>
import { sendRemoteLooptest, getStrategyParams } from "@/api/backTest";
import { getCodeSearch } from "@/api/cheng";
import Records from "./components/Records";
import { getPoolList } from "@/api/backTest";

export default {
  data() {
    return {
      //回测必填参数,没有则格式错误
      inputCode: "",
      transferLeft: [],
      transferRight: [],
      requireFields: [
        "codes",
        "commission",
        "start",
        "end",
        "initCash",
        "title",
        "slip"
      ],
      form: {
        title: "",
        commission: "",
        start: "",
        end: "",
        initCash: "",
        title: "",
        slip: ""
      },
      file: null,
      currentPoolName: "",
      poolList: [],
      strategyParamsObj: null,
      dynamicParams: [],
      currentDynamicObj: {
        name: "",
        key: "",
        value: ""
      },
      strategyContent: ""
    };
  },
  mounted() {
    getPoolList({ day: 1 }).then(res => {
      this.poolList = res.data;
    });
    // 获取按键精灵数据
    getCodeSearch({}).then(x => {
      if (x.httpCode == 200) {
        const data = x.responseEntity;
        this.allCodes = data.map(x => {
          return {
            value: x["code"] + " " + x["name"],
            stockType: x["stockType"],
            isIndex: x["isIndex"],
            code: x["code"],
            name: x["name"]
          };
        });
      } else {
        this.$message("按键精灵数据出错");
      }
    });
  },
  components: {
    Records
  },
  computed: {
    tableCodes() {
      return this.$store.state.parm.tableCodes;
    },
    tableIPList() {
      return this.$store.state.parm.tableIPList;
    }
  },
  methods: {
    getCodeSuffix(item) {
      return item.stockType == "future"? ".FU" : (item.isIndex ? ".SKIN" : ".SK")
    },
    // 确定 按键精灵
    handleCodeSelect(item) {
      const newCode = item.code + this.getCodeSuffix(item)
      this.transferLeft.push({
        key: newCode,
        label: item.name
      });
      this.transferRight.push(newCode);
      this.inputCode = "";
    },
    queryCodeSearch(queryString, cb) {
      var restaurants = this.allCodes;
      var results = queryString
        ? restaurants.filter(this.createStateFilter(queryString))
        : restaurants;
      cb(results);
    },
    createStateFilter(queryString) {
      return state => {
        return (
          state.value.toLowerCase().indexOf(queryString.toLowerCase()) === 0
        );
      };
    },
    handlePoolChange(newPool) {
      if (!newPool) {
        return;
      }
      const getCodes = this.poolList
        .filter(x => x["poolName"] == newPool)[0]
        .pool.forEach(res => {
          this.transferLeft.push({
            key: res["Code"],
            label: res["name"]
          });
        });

      //this.transferLeft = getCodes;
    },

    submitUpload() {
      if (this.transferRight.length == 0) {
        this.$message("选择回测品种");
        return;
      }
      if (this.tableIPList.length == 0) {
        this.$message("选择IP");
        return;
      }
      if (!this.file) {
        this.$message("选择文件");
        return;
      }
      if (!this.form.start) {
        this.$message("选择回测开始时间");
        return;
      }
      if (!this.form.end) {
        this.$message("选择回测结束时间");
        return;
      }
      if (!this.form.slip) {
        this.$message("请输入滑点");
        return;
      }
      if (!this.form.commission) {
        this.$message("请输入手续费");
        return;
      }
      if (!this.form.initCash) {
        this.$message("请输入初始资金");
        return;
      }
      const ips = this.tableIPList.map(item => item.ip + ":" + item.port);
      // const codes = this.tableCodes.map((item) => item.key);
      let strategyParams = [];
      this.requireFields.forEach(item => {
        if (item == "initCash") {
          this.strategyParamsObj[item].value = (
            this.form[item] / this.transferRight.length
          ).toFixed(0); //将回测金额平均分给每个品种
        } else {
          this.strategyParamsObj[item].value = this.form[item];
        }
        strategyParams.push(this.strategyParamsObj[item]);
      });
      this.dynamicParams.forEach(item => {
        strategyParams.push(item);
      });
      var formData = new FormData();
      formData.append("strategyName", this.form.title);
      formData.append("params", JSON.stringify(strategyParams));
      formData.append("file", this.file);
      formData.append("codes", this.transferRight.join(","));
      formData.append("ips", ips.join(","));
      sendRemoteLooptest(formData).then(res => {
        if (res.code == 1) {
          this.$message.success(res.data);
        }
      });
    },
    selectFile(param) {
      this.file = param.file;
      var formData = new FormData();
      formData.append("file", this.file);
      getStrategyParams(formData).then(res => {
        this.strategyParamsObj = {};
        if (res.code === 1) {
          this.strategyContent = res.data.content;
          res.data.paramsList.forEach(item => {
            this.strategyParamsObj[item.key] = item;
          });
          this.strategyParamsObj["codes"].value.split(",").forEach(code => {
            this.transferLeft.push({ key: code, label: code });
            this.transferRight.push(code);
          });
          this.requireFields.forEach(item => {
            this.form[item] = this.strategyParamsObj[item].value;
          });

          Object.keys(this.strategyParamsObj).forEach(key => {
            if (!this.requireFields.find(f => f === key)) {
              this.dynamicParams.push({
                name: this.strategyParamsObj[key].name,
                key: this.strategyParamsObj[key].key,
                value: this.strategyParamsObj[key].value
              });
            }
          });
        }
      });
    },
    handleAddDynamicParam() {
      if (
        !this.currentDynamicObj.name ||
        !this.currentDynamicObj.key ||
        !this.currentDynamicObj.value
      ) {
        return this.$message("动态参数区域输入不能为空");
      }
      this.dynamicParams.push({
        name: this.currentDynamicObj.name,
        key: this.currentDynamicObj.key,
        value: this.currentDynamicObj.value
      });
      this.currentDynamicObj.name = "";
      this.currentDynamicObj.key = "";
      this.currentDynamicObj.value = "";
    },
    handleDeleteDynamicParam(item) {
      this.dynamicParams = this.dynamicParams.filter(d => d != item);
    },
    handleClearLeft() {
      this.transferLeft = [];
    },
    handleClearRight() {
      this.transferRight = [];
    }
  }
};
</script>

<style lang="scss" scoped>
.dashboard {
  &-container {
    margin: 30px;
  }
  &-text {
    font-size: 30px;
    line-height: 46px;
  }
}
.address_div {
  margin-top: 25px;
  width: 90%;
}
.code_div {
  width: 90%;
}
.el-table {
  margin: 15px;
}
.dynamic_container {
  margin: 15px;
}
.content_input {
  margin-bottom: 15px;
}
.transfer-footer {
  margin-left: 70px;
}
</style>