<template>
  <div class="dashboard-container">
    <el-row>
      <el-col :span="6">
        <div class="code_div">
          <el-input v-model="inputCode" placeholder="请输入回测品种" @keyup.enter.native="add2select"></el-input>
        </div>
        <div>
          <el-link @click="add2select()">
            <i class="el-icon-circle-plus-outline"></i> 添加到回测品种
          </el-link>
        </div>
        <div class="address_div">
          <el-input v-model="inputIP" placeholder="IP:Port" @keyup.enter.native="add2IPList"></el-input>
        </div>
        <div>
          <el-link @click="add2IPList()">
            <i class="el-icon-circle-plus-outline"></i> 添加到回测机器
          </el-link>
        </div>
        <div>
          <el-form ref="form" :model="form">
            <el-form-item label="策略名称">
              <el-input v-model="form.name"></el-input>
            </el-form-item>
            <el-form-item label="时间">
              <el-col :span="10">
                <el-date-picker
                  type="date"
                  placeholder="开始"
                  v-model="form.startTime"
                  value-format="yyyy-MM-dd"
                  style="width: 100%"
                ></el-date-picker>
              </el-col>
              <el-col class="line" :span="1">---</el-col>
              <el-col :span="10">
                <el-date-picker
                  placeholder="结束"
                  type="date"
                  v-model="form.endTime"
                  value-format="yyyy-MM-dd"
                  style="width: 100%"
                ></el-date-picker>
              </el-col>
            </el-form-item>
            <el-form-item label="回测滑点">
              <el-input v-model="form.slidingPoint" type="number"></el-input>
            </el-form-item>
            <el-form-item label="回测手续费">
              <el-input v-model="form.serviceCharge" type="number" step="0.0001"></el-input>
            </el-form-item>
            <el-form-item label="初始资金">
              <el-input v-model="form.InitialFunding" type="number" step="0.01"></el-input>
            </el-form-item>
            <el-form-item>
              <el-upload multiple action :http-request="selectFile">
                <el-button size="small" type="primary">选择回测文件</el-button>
              </el-upload>
            </el-form-item>
            <el-form-item>
              <el-button type="primary" @click="submitUpload">确定</el-button>
            </el-form-item>
          </el-form>
        </div>
      </el-col>
      <el-col :span="4">
        <el-table
          :data="tableCodes"
          style="width: 90%"
          :border="true"
          :stripe="true"
          max-height="600"
        >
          <el-table-column prop="code" label="代码"></el-table-column>
          <el-table-column label="操作">
            <template slot-scope="scope">
              <el-button type="text" size="small" @click="removeCode(scope.row)">移除</el-button>
            </template>
          </el-table-column>
        </el-table>
      </el-col>
      <el-col :span="5">
        <el-table
          :data="tableIPList"
          style="width: 90%"
          :border="true"
          :stripe="true"
          max-height="600"
        >
          <el-table-column prop="ip" label="IP"></el-table-column>
          <el-table-column prop="port" label="端口"></el-table-column>
          <el-table-column label="操作">
            <template slot-scope="scope">
              <el-button type="text" size="small" @click="removeIP(scope.row)">移除</el-button>
            </template>
          </el-table-column>
        </el-table>
      </el-col>
      <el-col :span="9">
        <records></records>
      </el-col>
    </el-row>
  </div>
</template>

<script>
import { uploadInfo } from "@/api/cheng";
import { sendRemoteLooptest } from "@/api/backTest";
import Records from "./components/Records";
export default {
  data() {
    return {
      inputCode: "",
      tableCodes: [
        { code: "rb999.FU" },
        { code: "j999.FU" },
        { code: "ag999.FU" },
        { code: "au999.FU" },
        { code: "MA999.FU" },
        { code: "i999.FU" },
        { code: "cs999.FU" },
        { code: "ZC999.FU" },
        { code: "ni999.FU" },
        { code: "fu999.FU" }
      ],
      tableIPList: [
        { ip: "localhost", port: 10000 },
        { ip: "localhost", port: 9999 }
      ],
      inputIP: "",
      form: {},
      file: null
    };
  },
  components: {
    Records
  },
  methods: {
    removeIP(item) {
      this.tableIPList = this.tableIPList.filter(x => {
        return !((x.ip == item.ip) & (x.port == item.port));
      });
    },
    removeCode(item) {
      this.tableCodes = this.tableCodes.filter(x => x.code != item.code);
    },
    add2select() {
      if (this.inputCode) {
        this.tableCodes.push({ code: this.inputCode });
        this.inputCode = "";
      }
    },
    add2IPList() {
      if (this.inputIP) {
        const input = this.inputIP.split(":");
        if (input.length > 0) {
          const ip = {
            ip: input[0],
            port: input[1]
          };
          if (
            this.tableIPList.filter(x => x.ip == ip.ip && x.port == ip.port)
              .length == 0
          ) {
            this.tableIPList.push(ip);
            this.inputIP = "";
          }
        }
      }
    },
    submitUpload() {
      if (this.tableCodes.length == 0) {
        this.$message("选择回测品种");
        return;
      }
      if (this.tableIPList.length == 0) {
        this.$message("选择IP");
        return;
      }
      if (!this.file) {
        this.$message("选择文件");
        return;
      }
      if (!this.form.startTime) {
        this.$message("选择回测开始时间");
        return;
      }
      if (!this.form.endTime) {
        this.$message("选择回测结束时间");
        return;
      }
      if (!this.form.slidingPoint) {
        this.$message("请输入滑点");
        return;
      }
      if (!this.form.serviceCharge) {
        this.$message("请输入手续费");
        return;
      }
      if (!this.form.InitialFunding) {
        this.$message("请输入初始资金");
        return;
      }
      const ips = this.tableIPList.map(item => item.ip + ":" + item.port);
      const codes = this.tableCodes.map(item => item.code);
      var formData = new FormData();
      Object.keys(this.form).forEach(key => {
        formData.append(key, this.form[key]);
      });
      formData.append("file", this.file);
      formData.append("codes", codes.join(","));
      formData.append("ips", ips.join(","));
      sendRemoteLooptest(formData).then(res => {
        if (res.code == 1) {
          this.$message.success(res.data);
        }
      });
    },
    selectFile(param) {
      this.file = param.file;
    }
  }
};
</script>

<style lang="scss" scoped>
.dashboard {
  &-container {
    margin: 30px;
  }
  &-text {
    font-size: 30px;
    line-height: 46px;
  }
}
.address_div {
  margin-top: 25px;
  width: 90%;
}
.code_div {
  width: 90%;
}
.el-table {
  margin-left: 15px;
}
</style>