<template>
  <div>
    <div>
      <el-tag style="margin-left: 10px" type="success">查看平仓点位</el-tag>
      <el-link
        v-for="code in selectCodes"
        :key="code"
        type="primary"
        style="margin-left: 10px"
        @click="turn2Profit(code)"
      >
        {{ code }}
      </el-link>
    </div>
    <div ref="combineProfitRef" style="height: 800px"></div>
  </div>
</template>

<script>
import echarts from "echarts";

function groupBy(array, f) {
  let groups = {};
  array.forEach(function (o) {
    let group = JSON.stringify(f(o));
    groups[group] = groups[group] || [];
    groups[group].push(o);
  });
  return Object.keys(groups).map(function (group) {
    return groups[group];
  });
}

export default {
  props: ["table", "allData"],
  mounted() {
    this.selectCodes = Object.keys(this.table["dictCodeProfit"]);
    this.$nextTick(() => {
      this.initTableObj();
      this.initChart();
    });
  },
  data() {
    return {
      chart: null,
      tableObj: {},
      codes: [],
      selectCodes: [],
    };
  },
  methods: {
    turn2Profit(code) {
      const codeData = this.allData["tradeAnalyseColumn"]["JYMX_Table"][
        "ListTradeDetail"
      ]
        .filter((x) => x.Code == code)
        .map((x) => {
          return {
            
            StringEnumOrderType: x.StringEnumOrderType,
            DealTime: x.DealTime,
            DealPrice: x.DealPrice,
          };
        });
      
      const cd=groupBy(codeData, function (item) {
        return [item.StringEnumOrderType];
      });

      // 将数据存入store中
      this.$store.commit("parm/SET_SHOW_Chart", cd);
      // 路由跳转
      this.$router.push({
        path: "/charts/kChart",
        query: {
          code: code,
        },
      });
    },
    initSeries() {
      var result = [];
      for (let index = 0; index < this.tableObj.codes.length; index++) {
        const code = this.tableObj.codes[index];
        const profits = this.tableObj.yProfits[index];
        var data = {
          name: code,
          type: "line",
          symbolSize: 0.1,
          hoverAnimation: false,
          data: profits.map(p=> p.toFixed(4))
        };
        result.push(data);
      }
      return result;
    },
    initTableObj() {
      //所有票
      this.codes = Object.keys(this.table.dictCodeProfit).map((c) => c);
      this.initTableObjByCodes(this.codes);
    },
    initTableObjByCodes(selectedCodes) {
      var codes = this.codes.map((c) => c);
      //x轴日期
      var x =
        codes.length > 0
          ? Object.keys(this.table.dictCodeProfit[codes[0]]).map((d) =>
              d.slice(0, 10)
            )
          : [];
      //所有票的收益列表
      var yProfits = codes.map((code) =>
        Object.values(this.table.dictCodeProfit[code])
      );

      //添加合计
      codes.push("allCode");
      if (codes.length <= 0) {
        yProfits.push([]);
      } else {
        //添加合计对应的收益
        var allProfit = [];
        for (let index = 0; index < yProfits[0].length; index++) {
          // 只求和图例里的存在的票
          var profit = 0;
          yProfits.forEach((item, j) => {
            if (selectedCodes.find((c) => c === this.codes[j])) {
              profit = profit + item[index];
            }
          });
          allProfit.push(profit);
        }
        yProfits.push(allProfit);
      }
      const legendSelected = {};
      codes.forEach((c) => {
        legendSelected[c] = selectedCodes.find((sc) => sc === c);
      });
      this.tableObj = {
        codes: codes,
        title: "组合收益图",
        legend: codes,
        x: x,
        y1Title: "收益",
        yProfits: yProfits,
        legendSelected: legendSelected,
      };
    },
    handleLegendSelectChanged(params) {
      var selectedCodes = [];
      Object.keys(params.selected).forEach((c) => {
        if (params.selected[c] && c !== "allCode") {
          selectedCodes.push(c);
        }
      });
      this.chart.off("legendselectchanged", this.handleLegendSelectChanged);
      if (selectedCodes.length <= 0) {
        this.chart.clear();
        selectedCodes = this.codes;
      }
      this.initTableObjByCodes(selectedCodes);
      this.initChart();
    },
    initChart() {
      this.chart = echarts.init(this.$refs.combineProfitRef);
      var option = {
        title: {
          text: this.tableObj["title"],
          left: 10,
        },
        tooltip: {
          trigger: "axis",
          axisPointer: {
            animation: false,
            type: "cross",
          },
        },
        legend: {
          data: this.tableObj.codes,
          center: 10,
          selectd: this.tableObj.legendSelected,
        },
        toolbox: {
          feature: {
            dataZoom: {
              yAxisIndex: "none",
            },
          },
        },
        axisPointer: {
          link: { xAxisIndex: "all" },
        },
        // dataZoom: [
        //   {
        //     show: true,
        //     realtime: true,
        //     start: 30,
        //     end: 70,
        //   },
        //   {
        //     type: "inside",
        //     realtime: true,
        //     start: 30,
        //     end: 70,
        //   },
        // ],
        xAxis: [
          {
            name: "日期",
            type: "category",
            boundaryGap: false,
            axisLine: { onZero: true },
            data: this.tableObj["x"],
          },
        ],
        yAxis: [
          {
            name: this.tableObj["y1Title"],
            type: "value",
          },
        ],
        series: this.initSeries(),
      };
      this.chart.on("legendselectchanged", this.handleLegendSelectChanged);
      this.chart.setOption(option);
    },
  },
};
</script>

<style>
</style>