<template>
  <div :class="className" :style="{height:height,width:width}" />
</template>

<script>
import echarts from "echarts";
export default {
  name: "",
  props: {
    className: {
      type: String,
      default: "chart"
    },
    width: {
      type: String,
      default: "100%"
    },
    height: {
      type: String,
      default: "40vh"
    },
    chartData: {
      type: Object,
      required: true
    }
  },
  data() {
    return {
      chart: null,
      datetime: []
    };
  },
  watch: {
    chartData: {
      deep: true,
      handler(val) {
        this.chart.clear();
        this.setOptions(val);
        this.chart.resize();
      }
    }
  },
  components: {},

  computed: {},

  beforeMount() {},
  mounted() {
    this.$nextTick(() => {
      this.initChart();
    });
  },
  beforeDestroy() {
    if (!this.chart) {
      return;
    }
    this.chart.dispose();
    this.chart = null;
  },
  methods: {
    initChart() {
      // this.chart = echarts.init(document.getElementById('lineChart'));
      this.chart = echarts.init(this.$el);
      if (this.chartData.x) {
        this.setOptions(this.chartData);
      }
    },
    setOptions() {
      const datetime = this.chartData.x;
      let legend = [];
      let series = [];
      if (this.chartData.y) {
        // delete this.chartData.time;
        for (let k in this.chartData.y) {
          legend.push(k);
          series.push({
            name: k,
            type: "line",
            data: this.chartData.y[k]
          });
        }
      }
      let option = {
        xAxis: {
          id: "time",
          data: datetime,
          boundaryGap: false,
          axisTick: {
            show: true,
            alignWithLabel: true
          }
        },
        grid: {
          left: 10,
          right: 10,
          bottom: 42,
          top: 30,
          containLabel: true
        },
        dataZoom: [
          {
            type: "inside"
          },
          {
            type: "slider"
          }
        ],
        tooltip: {
          trigger: "axis",
          axisPointer: {
            type: "cross"
          },
          padding: [5, 10],
          feature: {
            dataZoom: {
              yAxisIndex: false
            }
          }
        },
        yAxis: {
          axisTick: {
            show: true
          }
        },
        legend: { data: legend },
        series: series
      };
      this.chart.setOption(option);
      this.chart.on("click", params => {
        if (this.$route.name === "Detail") {
          this.$store.commit("sign/SET_CHART_TIME_LOG",params.name)
        }
      });
    }
  }
};
</script>
<style lang='' scoped>
</style>