<template>
  <div :class="className" :style="{height:height,width:width}"/>
</template>

<script>
import echarts from "echarts";
export default {
  name: "",
  props: {
    className: {
      type: String,
      default: "chart"
    },
    width: {
      type: String,
      default: "100%"
    },
    height: {
      type: String,
      default: "50vh"
    },
    chartData: {
      type: Object,
      required: true
    }
  },
  data() {
    return {
      chart: null,
      datetime: []
    };
  },
  watch: {
    chartData: {
      deep: true,
      handler(val) {
        this.setOptions(val);
        this.chart.resize();
      }
    }
  },
  components: {},

  computed: {},

  beforeMount() {},
  mounted() {
    this.$nextTick(() => {
      this.initChart();
    });
  },
  beforeDestroy() {
    if (!this.chart) {
      return;
    }
    this.chart.dispose();
    this.chart = null;
  },
  methods: {
    initChart() {
      this.chart = echarts.init(this.$el);
      if (this.chartData&&this.chartData.x) {
        this.setOptions(this.chartData);
      }
    },
    setOptions() {
      let legend = [];
      let series = [];
      if (this.chartData.y) {
        for (let k in this.chartData.y) {
          legend.push(k);
          series.push({
            name: k,
            type: "bar",
            data: this.chartData.y[k]
          });
        }
      }
      const dateX = this.chartData.x;
      this.chart.setOption({
        xAxis: [{
          data: dateX,
          boundaryGap: true,
          axisTick: {
            alignWithLabel: true
          }
        }],
        grid: {
          left: 10,
          right: 10,
          bottom: 20,
          top: 30,
          containLabel: true
        },
        tooltip: {
          trigger: "axis",
          axisPointer: {
            type: "cross"
          },
          padding: [5, 10]
        },
        yAxis: {
          axisTick: {
            show: true
          }
        },
        legend: { data: legend },
        series: series
      });
    }
  }
};
</script>
<style lang='' scoped>
</style>