<template>
  <div class="dashboard-editor-container">
    <div class="card-list">
      <!-- <div v-for="item in cardList">
        <BfCard :input="item"></BfCard>
      </div>-->
      <BfCard v-for="item in cardList " :input="item" :key="item.Id"></BfCard>
      <div class="clear">
      </div>
    </div>
    <div>
    <el-button @click="refresh" style="handle-button">手动刷新数据</el-button>
    </div>
  </div>
</template>

<script>
import BfCard from "./components/BfCard";
import { fetchList, refreshList } from "@/api/bf-product";
export default {
  name: "pruduct",
  components: {
    BfCard
  },
  computed:{
  },
  data() {
    return {
      cardList: []
    };
  },
  created() {},
  mounted() {
    fetchList().then(r => {
      this.cardList = r.data;
    });
  },
  methods: {
    refresh() {
      refreshList().then(res => {
        if (res.code) {
          this.$message("已重新计算");
          fetchList().then(r => {
            this.cardList = r.data;
          });
        }
      });
    }
  }
};
</script>

<style lang="scss" scoped>
.dashboard-editor-container {
  padding: 20px;
  min-height: 100vh;
  background-color: rgb(240, 242, 245);
  .card-head {
    font-size: 1.6rem;
  }
  .handle-button {
    position: absolute;
    left: -48px;
    display: block;
  }
  .card-list {
    background-color: #f0f2f5;
    height: auto;
    width: 100%;
    overflow:hidden;
  }
  .clear {
    clear: both;
  }
}
</style>
