<template>
  <div class="dashboard-container">
    <div style="margin-bottom: 10px">
      <el-row>
        <el-col :span="1">
          <div>
            <span>{{ classType }}</span>
          </div>
        </el-col>
        <el-col :span="2">
          <el-link @click="add2select()"
            ><i class="el-icon-circle-plus-outline"></i> 添加到回测品种</el-link
          >
        </el-col>
        <el-col :span="4">
          <el-select
            v-model="selectPeriod"
            placeholder="周期"
            @change="elSelectChange"
          >
            <el-option
              v-for="item in cycleOptions"
              :key="item.value"
              :label="item.label"
              :value="item.value"
            >
            </el-option>
          </el-select>
        </el-col>
        <el-col :span="4">
          <div v-if="classType == '股票'">
            <el-switch
              v-model="adjSwitch"
              active-text="后复权"
              inactive-text="不复权"
              @change="handleAdjSwitch"
            >
            </el-switch>
          </div>
        </el-col>
      </el-row>
    </div>
    <div v-loading="loadingChartData">
      <k-line :chartData="chartData"></k-line>
    </div>
    <!-- <div v-if="showLines.length > 0">折线图</div> -->
    <div v-if="intoIndex" class="parameters-div">
      <span class="center-height-span">公式:</span>
      <span class="center-height-span" style="font-weight: bold"
        >{{ intoIndex.Description }}
      </span>
      <span> &nbsp;&nbsp;</span>
      <span class="center-height-span">函数</span>
      <span class="center-height-span" style="font-weight: bold">{{
        intoIndex.Formula
      }}</span>
      <span> &nbsp;&nbsp;</span>
      <span class="center-height-span">参数(逗号隔开)</span>
      <div style="padding-left: 15px; padding-right: 15px">
        <el-input placeholder="入参" v-model="intoIndex.Parameters"></el-input>
      </div>
      <div class="select-pic">
        <el-radio-group v-model="intoIndex.GraphType">
          <el-radio :label="0">主图</el-radio>
          <el-radio :label="1">附图</el-radio>
        </el-radio-group>
      </div>
      <div>
        <el-button type="primary" @click="submitParameter(intoIndex)"
          >重新显示</el-button
        >
      </div>
    </div>
    <div v-if="isLook">
      <el-row :gutter="8">
        <el-col :span="18">
          <div class="link-list">
            <el-button
              :key="indicator.Id"
              v-for="indicator in indicators"
              size="mini"
              :type="indicator.isClick ? 'primary' : 'info'"
              @click="handleClickIndicator(indicator)"
              round
              >{{ indicator.Description }}</el-button
            >
          </div>
        </el-col>
        <el-col :span="6">
          <el-autocomplete
            ref="anjianGod"
            class="inline-input"
            v-model="inputCode"
            :fetch-suggestions="queryCodeSearch"
            placeholder="键盘精灵"
            :trigger-on-focus="false"
            @select="handleCodeSelect"
          ></el-autocomplete>
        </el-col>
      </el-row>
    </div>
  </div>
</template>

<script>
import {
  getCodeSearch,
  getCodeData,
  getPeriodType,
  getIndicators,
} from "@/api/cheng";
import KLine from "@/components/charts/KLine";
export default {
  data() {
    return {
      classType: "股票",
      allCodes: [],
      timeout: "",
      restaurants: [],
      inputCode: "",
      chartData: [],
      adjSwitch: false,
      selectBreed: "",
      startTime: undefined,
      endTime: undefined,
      selectCodeInfo: undefined,
      isFocus: false,
      selectPeriod: "Day",
      cycleOptions: [],
      intoIndex: undefined,
      indicators: [],
      loadingChartData: false,
      fullscreenLoading: false,
      breedOptions: [
        {
          key: "future",
          value: "future",
          label: "期货",
        },
        {
          key: "stock",
          value: "stock",
          label: "股票",
        },
      ],
      defaultCode: [
        {
          code: "000905.SKIN",
          name: "中证500",
          stockType: "stock",
          isIndex: false,
        },
      ],
    };
  },
  components: { KLine },
  mounted() {
    this.loadAll();
  },
  computed: {
    isLook: function () {
      const route = this.$route.query;
      if (route && route["code"]) return false;
      return true;
    },
  },
  methods: {
    handleKeyup(event) {
      const e = event || window.event || arguments.callee.caller.arguments[0];
      if (!e) return;
      const { key } = e;
      if (!this.isFocus) {
        const keyLength = (key + "").length;
        if (keyLength == 1) {
          const anjianGod = this.$refs["anjianGod"];
          if (anjianGod != null) {
            anjianGod.focus();
          }
        }
        this.isFocus = false;
      }
    },
    submitParameter(index) {
      this.getSelectCode();
    },
    handleAdjSwitch() {
      this.getSelectCode();
    },
    elSelectChange(parm) {
      this.startTime = "";
      this.endTime = "";
      this.getSelectCode();
    },
    handleClickIndicator(indicator) {
      indicator.isClick = !indicator.isClick;
      this.intoIndex = indicator;
      this.getSelectCode();
    },
    loadAll() {
      // 日线 分钟线
      getPeriodType().then((x) => {
        if (x.httpCode == 200) {
          this.cycleOptions = x.responseEntity;
        }
      });
      // 获取按键精灵数据
      getCodeSearch({}).then((x) => {
        if (x.httpCode == 200) {
          const data = x.responseEntity;
          this.allCodes = data.map((x) => {
            return {
              value: x["code"] + " " + x["name"],
              stockType: x["stockType"],
              isIndex: x["isIndex"],
              code: x["code"],
              name: x["name"],
            };
          });
        } else {
          this.$message("按键精灵数据出错");
        }
      });
      // 获取默认数据
      this.getSelectCode();
      // 获取默认指标
      getIndicators({}).then((x) => {
        if (x.httpCode == 200) {
          this.indicators = x.responseEntity.map((x) => {
            x.isClick = false;
            return x;
          });
        }
      });
    },
    queryCodeSearch(queryString, cb) {
      var restaurants = this.allCodes;
      var results = queryString
        ? restaurants.filter(this.createStateFilter(queryString))
        : restaurants;
      cb(results);
    },
    createStateFilter(queryString) {
      return (state) => {
        return (
          state.value.toLowerCase().indexOf(queryString.toLowerCase()) === 0
        );
      };
    },
    setStartTimeEndTime(startTime, endTime) {
      this.startTime = startTime;
      this.endTime = endTime;
      this.getSelectCode();
    },
    getSelectCode() {
      this.loadingChartData = true;
      var param = {
        period: this.selectPeriod,
        start: this.startTime ? this.startTime : "",
        end: this.endTime ? this.endTime : "",
        is_adj: this.adjSwitch,
        indicators: this.indicators
          .filter((x) => {
            return x.isClick;
          })
          .map((x) => {
            const res = {};
            const key = x["Category"];
            const value = {
              Parameters: x["Parameters"].split(","),
              GraphType: x["GraphType"],
            };
            res[key] = value;
            return res;
          }),
      };
      if (this.startTime) {
        param["forward_times"] = 2;
      }
      if (this.selectCodeInfo == undefined) {
        param["stocks"] = this.defaultCode;
      } else {
        // todo 加入多个数据
        param["stocks"] = [this.selectCodeInfo];
        if (this.selectCodeInfo["stockType"] == "stock") {
          this.classType = "股票";
        } else {
          this.classType = "期货";
        }
      }

      const route = this.$route.query;
      const codeData = this.$store.state.parm.showChart;
      if (route && route["code"]) {
        if (route["code"].endsWith("FU")) {
          this.defaultCode[0].stockType = "future";
          this.classType = "期货";
        } else {
          this.defaultCode[0].stockType = "stock";
          this.classType = "股票";
        }
        this.defaultCode[0].code = route["code"].split(".")[0];
        this.defaultCode[0].name = this.defaultCode[0].code;
        const start_num = codeData.map((x) => x[0]["DealTime"].slice(0, 10));
        let max_date = "3";
        start_num.map((x) => {
          if (x < max_date) {
            max_date = x;
          }
        });
        param.start = max_date;
      }
      getCodeData(param).then((x) => {
        if (x.httpCode == 200) {
          this.chartData = x.responseEntity;

          if (route && route["code"]) {
            const indicator = codeData.map((x) => {
              return {
                name: x[0]["StringEnumOrderType"],
                GraphType: 0,
                type: "scatter",
                data: x.map((rr) => [
                  rr["DealTime"].slice(0, 10),
                  rr["DealPrice"],
                ]),
              };
            });
            // this.chartData[0].indicator=this.chartData.indicator||[];
            this.chartData[0].indicator.push.apply(
              this.chartData[0].indicator,
              indicator
            );
          }

          this.loadingChartData = false;
          this.inputCode = "";
        } else {
          this.$message("基础数据加载出错");
        }
      });
    },
    // 确定 按键精灵
    handleCodeSelect(item) {
      this.selectCodeInfo = item;
      this.startTime = "";
      this.endTime = "";
      this.getSelectCode();
      this.isFocus = false;
    },
  },
};
</script>

<style lang="scss" scoped>
.top {
  margin-top: 10px;
}
.dashboard {
  &-container {
    margin: 30px;
  }
  &-text {
    font-size: 30px;
    line-height: 46px;
  }
}
.parameters-div {
  display: flex;
  flex-direction: row;
  align-items: "center ";
  padding: 10px;
}
.center-height-span {
  line-height: 2;
  margin-left: 10px;
}
.select-pic {
  padding: 5px;
}
.link-list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-right: 10px;
}
</style>