<template>
  <div>
    <el-row :gutter="10">
      <el-col :span="3">
        <el-switch
          v-model="percent"
          active-text="按百分比"
          inactive-text="按金额"
          @change="handlePercentChange"
        ></el-switch>
      </el-col>
      <el-col :span="5">
        <el-radio-group v-model="period" @change="handlePeriodChange">
          <el-radio label="Day">日</el-radio>
          <el-radio label="Month">月</el-radio>
          <el-radio label="Year">年</el-radio>
        </el-radio-group>
      </el-col>
    </el-row>
    <div id="main" style="height:780px;"></div>
  </div>
</template>

<script>
import echarts from "echarts";
export default {
  props: ["table"],
  mounted() {
    this.$nextTick(() => {
      this.initTableObj();
      this.initChart();
    });
  },
  data() {
    return {
      chart: null,
      tableObj: {},
      period: "Day",
      percent: true
    };
  },
  methods: {
    handlePercentChange() {
      this.$nextTick(() => {
        this.initTableObj();
        this.initChart();
      });
    },
    initTableObj() {
      const y1Title = this.percent ? "资产百分比" : "资产";
      this.tableObj = {
        legend: [y1Title, "回撤"],
        x: this.table["allData"][this.period].map(x => x.Item1.slice(0, 10)),
        y1Title: y1Title,
        y1: this.percent
          ? this.table["allData"][this.period].map(x => x.Item3.toFixed(4))
          : this.table["allData"][this.period].map(x => x.Item2.toFixed(4)),
        y2Title: "回撤",
        y2: this.table["allData"][this.period].map(x => x.Item4.toFixed(4))
      };
    },
    initChart() {
      if (this.chart) {
        this.chart.clear();
      }
      this.chart = echarts.init(document.getElementById("main"));
      var option = {
        tooltip: {
          trigger: "axis",
          axisPointer: {
            animation: false,
            type: "cross"
          }
        },
        legend: {
          data: this.tableObj["legend"],
          top: 10
        },
        toolbox: {
          feature: {
            dataZoom: {
              yAxisIndex: "none"
            }
          }
        },
        axisPointer: {
          link: { xAxisIndex: "all" }
        },
        dataZoom: [
          {
            show: true,
            realtime: true,
            start: 0,
            end: 100,
            xAxisIndex: [0, 1]
          },
          {
            type: "inside",
            realtime: true,
            start: 0,
            end: 100,
            xAxisIndex: [0, 1]
          }
        ],
        grid: [
          {
            left: 70,
            right: 70,
            height: "40%"
          },
          {
            left: 70,
            right: 70,
            top: "55%",
            height: "35%"
          }
        ],
        xAxis: [
          {
            name: "日期",
            type: "category",
            boundaryGap: false,
            axisLine: { onZero: true },
            data: this.tableObj["x"]
          },
          {
            name: this.tableObj["y2Title"],
            gridIndex: 1,
            type: "category",
            boundaryGap: false,
            axisLine: { onZero: true },
            data: this.tableObj["x"],
            position: "top",
            show: false
          }
        ],
        yAxis: [
          {
            name: this.tableObj["y1Title"],
            type: "value"
            //max: 5
          },
          {
            gridIndex: 1,
            name: this.tableObj["y2Title"],
            type: "value",
            inverse: true
          }
        ],
        series: [
          {
            name: this.tableObj["y1Title"],
            type: "line",
            symbolSize: 8,
            hoverAnimation: false,
            data: this.tableObj["y1"]
          },
          {
            name: this.tableObj["y2Title"],
            type: "line",
            xAxisIndex: 1,
            yAxisIndex: 1,
            symbolSize: 8,
            hoverAnimation: false,
            data: this.tableObj["y2"],
            areaStyle: {}
          }
        ]
      };
      this.chart.setOption(option);
    },
    handlePeriodChange() {
      this.initTableObj();
      this.initChart();
    }
  }
};
</script>

<style lang="scss" scoped>
</style>
