<template>
  <div>
    <el-table :data="tableData" stripe border max-height="800">
      <el-table-column type="index"></el-table-column>
      <el-table-column prop="indicator" label="统计指标"></el-table-column>
      <el-table-column prop="all" label="所有交易"></el-table-column>
      <el-table-column prop="long" label="多头交易"></el-table-column>
      <el-table-column prop="short" label="空头交易"></el-table-column>
    </el-table>
  </div>
</template>

<script>
export default {
  props: ["table"],
  data() {
    return {
      tableData: []
    };
  },
  mounted() {
    this.$nextTick(() => {
      this.initData();
    });
  },
  methods: {
    initData() {
      console.log(this.table);
      this.tableData = [];
      this.tableData.push({
        // indicator: "净利润",
        // all: this.table.profit,
        // long: this.table.longProfit,
        // short: this.table.shortProfit
        indicator: "净利润（包含未平仓位）",
        all: this.table.profitWithPosition.toFixed(2),
        long: this.table.longProfitWithPosition.toFixed(2),
        short: this.table.shortProfitWithPosition.toFixed(2)
      });
      this.tableData.push({
        indicator: "总盈亏（已平仓位）",
        all: this.table.grossProfit,
        long: this.table.longGrossProfit,
        short: this.table.shortGrossProfit
      });
      this.tableData.push({
        indicator: "总亏损（已平仓位）",
        all: this.table.grossLoss,
        long: this.table.longGrossLoss,
        short: this.table.shortGrossLoss
      });
      this.tableData.push({
        indicator: "手续费",
        all: this.table.commission,
        long: this.table.longCommission,
        short: this.table.shortCommission
      });
      this.tableData.push({
        indicator: "冲击滑点",
        all: this.table.slipFees.toFixed(2),
        long: this.table.longSlipFees.toFixed(2),
        short: this.table.shortSlipFees.toFixed(2)
      });
      this.tableData.push({
        indicator: "盈利因子(毛利/毛损)",
        all: this.table.profitFactor,
        long: this.table.longProfitFactor,
        short: this.table.shortProfitFactor
      });
      this.tableData.push({
        indicator: "收益率",
        all: this.table.profitRate.toFixed(2) + "%",
        long: this.table.longProfitRate.toFixed(2) + "%",
        short: this.table.shortProfitRate.toFixed(2) + "%"
      });
      this.tableData.push({
        indicator: "年化收益率",
        all: this.table.annualizedRate + "%",
        long: "N/A",
        short: "N/A"
      });
      this.tableData.push({
        indicator: "最大回撤",
        all: this.table.maxDrawDown,
        long: "N/A",
        short: "N/A"
      });
      this.tableData.push({
        indicator: "净利润/最大资产回撤",
        all: this.table.profitDivmaxDrawDown,
        long: "N/A",
        short: "N/A"
      });
      this.tableData.push({
        indicator: "最大资产回撤幅度",
        all: this.table.maxDrawDownRate + "%",
        long: "N/A",
        short: "N/A"
      });
      this.tableData.push({
        indicator: "年化收益率/最大资产回撤幅度",
        all: this.table.annualizedRateDivmaxDrawDown,
        long: "N/A",
        short: "N/A"
      });
      this.tableData.push({
        indicator: "交易次数",
        all: this.table.tradeCount,
        long: this.table.longTradeCount,
        short: this.table.shortTradeCount
      });
      this.tableData.push({
        indicator: "胜率",
        all: this.table.winRatio * 100 + "%",
        long: this.table.longwinRatio * 100 + "%",
        short: this.table.shortwinRatio * 100 + "%",
      });
    }
  }
};
</script>

<style lang="scss" scoped>
</style>
