<template>
  <div>
    <div v-show="inputType == 'ZTGY_Table'">
      <el-table :data="tableData">
        <el-table-column prop="TongJiZhiBiao" label="统计指标">
        </el-table-column>
      </el-table>
    </div>
    <el-switch
      v-model="isValue"
      v-show="isPic"
      active-text="按数值累加"
      inactive-text="按比例累加"
      @change="setOptions"
    >
    </el-switch>
    <el-radio-group
      v-model="radioPeriod"
      v-show="isPic"
      style="margin-left: 10px"
      @change="clickRadio"
    >
      <el-radio
        :label="rp.period"
        v-for="rp in radioPeriods"
        :key="rp.period"
        >{{ rp.name }}</el-radio
      >
    </el-radio-group>
    <div v-show="isPic" ref="myChart" style="height: 960px"></div>
  </div>
</template>

<script>
import echarts from "echarts";

export default {
  props: {
    inputType: {
      type: String,
      default: "ZTGY_Table",
    },
    data: {
      type: Object,
      default: {},
    },
  },
  computed: {
    isPic() {
      return (
        this.inputType == "ZCQX_Table" || this.inputType == "ZCJSXQX_Table"
      );
    },
    isTable() {
      return this.inputType == "ZTGY_Table";
    },
  },
  data: function () {
    return {
      radioPeriod: "Day",
      radioPeriods: [
        { period: "Day", name: "日线" },
        { period: "Month", name: "月线" },
        { period: "Year", name: "年线" },
      ],
      chart: null,
      isValue: false,
      tableData: [],
    };
  },
  watch: {
    inputType: {
      handler(newName, oldName) {
        if (this.isPic) {
          //  this.setOptions();
          this.$nextTick(() => {
            this.setOptions();
          });

        }
      },
    },
  },
  mounted() {
    this.$nextTick(() => {
      this.setOptions();
    });
  },
  methods: {
    clickRadio() {
      this.setOptions();
    },
    getChartData() {
      const ccdata =
        this.inputType == "ZCQX_Table"
          ? this.data["ZCQX_Table"]
          : this.inputType == "ZCJSXQX_Table"
          ? this.data["ZCJSXQX_Table"]
          : null;

      if (!ccdata) return;
      const detailData = ccdata["allData"];
      if (!detailData[this.radioPeriod]) return;
      const profit = detailData[this.radioPeriod];

      const x = profit.map((x) => x["Item1"].slice(0, 10));
      const listProfit = profit.map((v, k) => (x[k], v["Item2"]));
      const listNetProfit = profit.map((v, k) => (x[k], v["Item3"]));
      const fuList = profit.map((v, k) => (x[k], v["Item4"]));
      return { x, listProfit, listNetProfit, fuList };
    },

    setOptions() {
      if(!this.$refs.myChart){
        this.$message("myChart没有构建好")
        return
      }
      if (!this.chart) {
        this.chart = echarts.init(this.$refs.myChart);
      }
      this.chart.clear();
      const gridOption = [
        {
          left: "10%",
          right: "10%",
          height: "40%",
        },
        {
          left: "10%",
          right: "10%",
          height: "30%",
          top: "60%",
        },
      ];
      var dataZoomOption = [
        {
          type: "inside",
          show: true,
          realtime: true,
          start: 0,
          end: 100,
          xAxisIndex: [0, 1],
        },
        {
          type: "slider",
          realtime: true,
          start: 0,
          end: 100,
          xAxisIndex: [0, 1],
        },
      ];
      var yAxisOption = [
        {
          scale: true,
          // gridIndex:0,
          splitArea: {
            show: true,
          },
        },
        {
          scale: true,
          gridIndex: 1,
          splitArea: {
            show: true,
          },
        },
      ];
      const chartDd = this.getChartData();

      if (!chartDd) {
        this.$message("数据异常");
        console.log(chartDd);
        return;
      }

      var xAxisOption = [
        {
          data: chartDd["x"],
          type: "category",
          min: "dataMin",
          max: "dataMax",
          boundaryGap: true,
          axisTick: {
            alignWithLabel: true,
          },
        },
        {
          show: false,
          gridIndex: 1,
          type: "category",
          min: "dataMin",
          max: "dataMax",
          data: chartDd["x"],
          position: "top",
        },
      ];
      const isZCQX = this.inputType == "ZCQX_Table";
      const legendName = [
        this.isValue ? "数值收益(累加)" : "比例收益(累加)",
        isZCQX ? "资金占用" : "回撤",
      ];
      var seriesOption = [
        {
          name: legendName[0],
          type: "line",
          xAxisIndex: 0,
          yAxisIndex: 0,
          data: this.isValue ? chartDd["listProfit"] : chartDd["listNetProfit"],
        },
        {
          name: legendName[1],
          type: "line",
          xAxisIndex: 1,
          yAxisIndex: 1,
          data: chartDd["fuList"],
        },
      ];
      
      var option = {
        // 十字星指示
        tooltip: {
          trigger: "axis",
          axisPointer: {
            type: "cross",
          },
        },
        // 图表
        toolbox: {
          feature: {
            dataZoom: {
              yAxisIndex: false,
            },
          },
        },
        legend: {
          data: legendName,
        },
        dataZoom: dataZoomOption,
        grid: gridOption,
        xAxis: xAxisOption,
        yAxis: yAxisOption,
        series: seriesOption,
      };
      this.chart.setOption(option);
    },
  },
};
</script>

<style>
</style>