<template>
  <div class="container">
    <div class="btu-mother">
      <div class="btu-div">
        <el-button type="primary" @click="openUserDialog()">新增用户</el-button>
      </div>
      <div class="btu-div">
        <el-button type="primary" @click="openRoleDialog()">新增权限</el-button>
      </div>
    </div>

    <div style="height:20px"></div>
    <h3>用户:</h3>

    <el-table :data="userData" style="width: 100%">
      <el-table-column prop="name" label="名称"></el-table-column>
      <el-table-column prop="username" label="账号"></el-table-column>
      <el-table-column prop="password" label="密码"></el-table-column>
      <el-table-column label="微信登录">
        <template scope="{row}">
          <span>{{row.weixin?"支持":"不支持"}}</span>
        </template>
      </el-table-column>
      <el-table-column prop="roleName" label="角色"></el-table-column>
      <el-table-column label="操作">
        <template slot-scope="{row}">
          <el-button type="text" size="small" @click="openUserDialog(row)">调整</el-button>
        </template>
      </el-table-column>
    </el-table>

    <div style="height:20px"></div>
    <h3>角色:</h3>
    <el-table :data="roleData" style="width: 100%">
      <el-table-column prop="name" label="名称" width="60"></el-table-column>
      <el-table-column label="功能">
        <template scope="{row}">
          <span v-for="tag in row.tags" :key="tag.id">{{tag.name_zh}},</span>
        </template>
      </el-table-column>
      <el-table-column label="产品">
        <template scope="{row}">
          <span v-for="tag in row.funds" :key="tag.Id">{{tag.FundName}},</span>
        </template>
      </el-table-column>
      <el-table-column label="编辑" width="100">
        <template slot-scope="{row}">
          <el-button type="text" size="small" @click="openRoleDialog(row)">调整</el-button>
        </template>
      </el-table-column>
    </el-table>
    <!-- <card
      v-for="user in users"
      :user="user"
      :permissions="infos.permissions"
      :products="infos.products"
    ></card>-->
    <el-dialog title="角色" :visible.sync="roleDialog">
      <el-form>
        <el-form-item label="名称">
          <el-input v-model="role.name"></el-input>
        </el-form-item>
        <el-form-item label="功能">
          <div>
            <el-checkbox :indeterminate="isAllPer" @change="perAllChange">全选</el-checkbox>
            <el-checkbox-group v-model="selectTags">
              <el-checkbox v-for="item in permissions" :label="item" :key="item">{{item}}</el-checkbox>
            </el-checkbox-group>
          </div>
        </el-form-item>
        <el-form-item label="产品">
          <div>
            <el-checkbox :indeterminate="isAllPro" @change="proAllChange">全选</el-checkbox>
            <el-checkbox-group v-model="selectFunds">
              <el-checkbox v-for="item in products" :label="item" :key="item">{{item}}</el-checkbox>
            </el-checkbox-group>
          </div>
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button @click="handleSaveRole" type="primary">完成</el-button>
        <el-button @click="roleDialog = false">取消</el-button>
      </span>
    </el-dialog>
    <el-dialog title="用户" :visible.sync="userDialog">
      <el-form :model="user" class="demo-form-inline">
        <el-form-item label="名称">
          <el-input v-model="user.name"></el-input>
        </el-form-item>
        <el-form-item label="账号">
          <el-input v-model="user.username"></el-input>
        </el-form-item>
        <el-form-item label="密码">
          <el-input v-model="user.password"></el-input>
        </el-form-item>
        <el-form-item label="角色">
          <el-select v-model="user.role_id" placeholder="请选择">
            <el-option
              v-for="item in roleData"
              :key="item.name"
              :label="item.name"
              :value="item.id"
            ></el-option>
          </el-select>
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button @click="handleSaveUser" type="primary">完成</el-button>
        <el-button @click="userDialog = false">取消</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
import card from "./components/card";
import {
  getAllInfo,
  getAllUser,
  getAllRole,
  saveUser,
  saveRole
} from "@/api/user";
export default {
  name: "",
  props: [""],
  data() {
    return {
      user: {},
      roleDialog: false,
      userDialog: false,
      isAllPer: false,
      isAllPro: false,
      selectProducts: [],
      selectPermissions: [],
      products: [],
      permissions: [],
      role: {},
      selectPermissions: [],
      roleData: [],
      fundMap: {},
      tagMap: {},
      userData: [],
      selectTags:[],
      selectFunds:[],
    };
  },

  components: { card },

  computed: {},

  beforeMount() {},

  mounted() {
    this.flush();
  },

  methods: {
    handleSaveUser() {
      saveUser(this.user).then(res => {
        if (res.code) {
          this.$message(res.data)
          this.flush()
        }
      });
      this.userDialog = false;
    },
    handleSaveRole() {
      //todo 保存权限
      this.roleDialog = false;
      this.role.funds = this.selectFunds.map(res => this.fundMap[res]);
      this.role.tags = this.selectTags.map(res => this.tagMap[res]);
      saveRole(this.role).then(res => {
        if (res.code) {
          this.$message(res.data)
          this.flush()
        }
      });
    },
    perAllChange(val) {
      this.selectTags = val ? this.permissions.slice() : [];
      this.isAllPer = false;
    },
    proAllChange(val) {
      this.selectFunds = val ? this.products.slice() : [];
      this.isAllPro = false;
    },
    openUserDialog(val) {
      if (val) {
        this.user = val;
      } else {
        this.user = {};
      }
      this.userDialog = true;
    },
    openRoleDialog(val) {
      this.roleDialog = true;
      if (val) {
        this.role.name = val.name;
        this.role.id = val.id;
        this.selectTags = val.tags?val.tags.map(res => res.name_zh):[]
        this.selectFunds = val.funds?val.funds.map(res => res.FundName):[]
      } else {
        this.role = { funds: [], tags: [] };
      }
    },
    flush() {
      this.products=[]
      this.permissions=[]
      getAllInfo().then(res => {
        for (let fund of res.data.funds) {
          this.fundMap[fund[1]] = fund[0];
          this.products.push(fund[1]);
        }
        for (let tag of res.data.tags) {
          this.tagMap[tag[1]] = tag[0];
          this.permissions.push(tag[1]);
        }
      });
      getAllUser().then(res => {
        this.userData = res.data;
      });
      getAllRole().then(res => {
        this.roleData = res.data;
      });
    }
  },

  watch: {}
};
</script>
<style lang='scss' scoped>
.container {
  padding-left: 20px;
  padding-right: 20px;
}
.btu-mother {
  margin-top: 20px;
  display: flex;
}
.btu-div {
  margin-left: 10px;
}
</style>