<template>
  <div class="div_container">
    <el-input
      placeholder="请输入最近出入票池天数"
      v-model="poolDays"
      type="number"
      class="input-with-select"
      @blur="handleGetPoolList"
      @keyup.enter.native="handleGetPoolList"
    >
      <el-select
        v-model="currentPoolName"
        slot="prepend"
        placeholder="请选择票池"
        clearable
        @change="handlePoolChange"
      >
        <el-option
          v-for="(item, id) in poolList"
          :key="id"
          :label="item.poolName"
          :value="item.poolName"
        ></el-option>
      </el-select>
    </el-input>
    <div>
      <el-row v-if="this.currentPoolName!==''">
        <el-col :span="12">
          <el-input v-model="currentPool.poolDesc" readonly>
            <template slot="prepend">
              <div style="width:88px;">票池描述:</div>
            </template>
          </el-input>
        </el-col>
      </el-row>
      <el-row v-if="this.currentPoolName!==''">
        <el-col :span="12">
          <el-input v-model="currentPool.lastUpdateDate" readonly>
            <template slot="prepend">最后更新日期:</template>
          </el-input>
        </el-col>
      </el-row>
    </div>
    <el-tabs v-model="activeName" v-if="this.currentPoolName!==''">
      <el-tab-pane label="当前成分" name="first">
        <el-table
          :data="currentPool.pool"
          style="width: 100%"
          :border="true"
          :stripe="true"
          height="750"
        >
          <el-table-column type="index"></el-table-column>
          <el-table-column prop="Code" label="代码"></el-table-column>
          <el-table-column prop="name" label="名称"></el-table-column>
          <el-table-column prop="Day" label="入池日期"></el-table-column>
        </el-table>
      </el-tab-pane>
      <el-tab-pane label="最近入池" name="second">
        <el-table
          :data="currentPool.poolIn"
          style="width: 100%"
          :border="true"
          :stripe="true"
          height="750"
        >
          <el-table-column type="index"></el-table-column>
          <el-table-column prop="Code" label="代码"></el-table-column>
          <el-table-column prop="name" label="名称"></el-table-column>
          <el-table-column prop="Day" label="入池日期"></el-table-column>
        </el-table>
      </el-tab-pane>
      <el-tab-pane label="最近出池" name="third">
        <el-table
          :data="currentPool.poolOut"
          style="width: 100%"
          :border="true"
          :stripe="true"
          height="750"
        >
          <el-table-column type="index"></el-table-column>
          <el-table-column prop="Code" label="代码"></el-table-column>
          <el-table-column prop="name" label="名称"></el-table-column>
          <el-table-column prop="Day" label="出池日期"></el-table-column>
        </el-table>
      </el-tab-pane>
    </el-tabs>
  </div>
</template>

<script>
import { getPoolList } from "@/api/backTest";
export default {
  data() {
    return {
      currentPoolName: "",
      currentPool: {},
      poolList: [],
      poolDays: 5,
      activeName: "first"
    };
  },
  created() {
    this.handleGetPoolList();
  },
  methods: {
    handleGetPoolList() {
      if (!this.poolDays) {
        this.poolDays = 5;
      }
      getPoolList({ day: this.poolDays })
        .then(res => {
          this.poolList = res.data;
          this.poolList.forEach(item => {
            if (item.poolName == this.currentPoolName) {
              this.currentPool = item;
            }
          });
        })
        .catch(r => r);
    },
    handlePoolChange(newPool) {
      this.poolList.forEach(item => {
        if (item.poolName == newPool) {
          this.currentPoolName = newPool;
          this.currentPool = item;
        }
      });
    }
  }
};
</script>

<style lang="scss" scoped>
.div_container {
  margin: 15px;
}
.input-with-select {
  width: 550px;
}
.el-select {
  width: 300px;
}
.el-input-group__prepend{
  width: 129px !important;
}
.input-with-select .el-input-group__prepend {
  background-color: #fff;
}
.el-tabs {
  margin-top: 15px;
}
</style>