<template>
  <div>
    <el-row :gutter="16">
      <el-col :span="12">
        <line-chart :chartData="diffData" />
        <div style="text-align: center;">当日值</div>
      </el-col>
      <el-col :span="12">
        <bar-chart :chartData="diffBeforData" height="40vh" />
        <div style="text-align: center;">与昨日差值</div>
      </el-col>
    </el-row>
  </div>
</template>

<script>
import LineChart from "@/components/BFCharts/LineChart";
import BarChart from "@/components/BFCharts/barChart";
export default {
  name: "",
  props: {
    diffBeforData: {
      type: Object
    },
    diffData: {
      type: Object
    }
  },
  data() {
    return {};
  },

  components: { LineChart, BarChart },

  computed: {},

  beforeMount() {},

  mounted() {},

  methods: {},

  watch: {}
};
</script>
<style lang='' scoped>
</style>