<template>
  <div>
    <el-table :data="recordList" :border="true" :stripe="true" max-height="300">
      <el-table-column type="index"></el-table-column>
      <el-table-column prop="strategyName" label="回测名称"></el-table-column>
      <el-table-column prop="nodeCount" label="节点数" width="65"></el-table-column>
      <el-table-column prop="completeCount" label="完成数" width="65"></el-table-column>
      <el-table-column prop="reportType" label="回测类型" width="85">
        <template slot-scope="scope">{{scope.row.reportType==='local' ? "本地回测":"远程回测"}}</template>
      </el-table-column>
      <el-table-column label="操作" width="165" header-align="center">
        <template slot-scope="scope">
          <el-tooltip
            v-if="!scope.row.hasReport"
            class="item"
            effect="dark"
            content="暂无报告"
            placement="top"
            :enterable="false"
          >
            <el-link
              icon="el-icon-view"
              type="primary"
              :disabled="!scope.row.hasReport"
              @click="jump2res(scope.row)"
            >查看报告</el-link>
          </el-tooltip>
          <el-link
            icon="el-icon-view"
            type="primary"
            v-else
            :disabled="!scope.row.hasReport"
            @click="jump2res(scope.row)"
          >查看报告</el-link>
          <el-link icon="el-icon-delete" type="danger" @click="removeReport(scope.row)">删除</el-link>
        </template>
      </el-table-column>
    </el-table>
  </div>
</template>

<script>
import { getRemoteRecords, removeReportByStrategyName } from "@/api/backTest";
export default {
  data() {
    return {
      recordList: []
    };
  },
  mounted() {
    this.getRecords();
  },
  methods: {
    getRecords() {
      getRemoteRecords({}).then(res => {
        if (res.code !== 1) {
          return this.$message.error("获取历史回测记录失败");
        }
        this.recordList = res.data;
      });
    },
    jump2res(row) {
      this.$router.push({
        path: "/plt_example/example1",
        query: {
          strategyName: row.strategyName,
          reportType: row.reportType
        }
      });
    },
    removeReport(row) {
      removeReportByStrategyName({ strategy: row.strategyName,type: row.reportType }).then(res => {
        if (res.code !== 1) {
          return this.$message.error("删除回测报告失败");
        }
        this.getRecords();
      });
    }
  }
};
</script>

<style scoped>
.el-link {
  margin-right: 10px;
}
</style>
