<template>
  <div class="app-container">
    <el-tabs v-model="activeName">
      <el-tab-pane label="收益曲线" name="profit">
        <div class="btu-mother" v-if="permissionShow">
          <div class="btu-div">
            <el-button type="primary" @click="dialogHoldPosition = true">导入持仓(初始化)</el-button>
          </div>
          <div class="btu-div">
            <el-button type="primary" @click="dialogTradeFlow=true">导入流水</el-button>
          </div>
          <div class="btu-div">
            <el-button type="primary" @click="switchXuNi(false)">调整流水</el-button>
          </div>
          <div class="btu-div">
            <el-button type="primary" @click="cclearFundInfo">清空数据</el-button>
          </div>
          <div class="btu-div">
            <el-button type="primary" @click="logDialog=true">添加日志</el-button>
          </div>
          <div class="btu-div">
            <el-button type="primary" @click="getMarket">获取回测，真实仓数</el-button>
          </div>
          <div class="btu-div">
            <el-button type="primary" @click="countToday">计算当日</el-button>
          </div>
          <div class="btu-div">
            <el-button icon="el-icon-help" @click="showXuNi=!showXuNi">{{showXuNi?"收起":"展开"}}</el-button>
          </div>
        </div>

        <div class="upload-demo btu-mother" v-show="showXuNi">
          <div class="btu-div">
            <el-upload list-type=".csv" :http-request="uploadFunc2" action :on-success="checkout">
              <el-button type="primary">上传回测流水</el-button>
            </el-upload>
          </div>
          <div class="btu-div">
            <el-button type="primary" @click="switchXuNi(true)">调整回测流水</el-button>
          </div>
          <div class="btu-div">
            <el-button type="primary" @click="openJiti">计提流水</el-button>
          </div>
        </div>
        <div style="height:20px"></div>
        <h2>收益曲线:</h2>

        <div class="selectStrategy">
          <el-button type="primary" @click="openBindStrategy">绑定回测产品</el-button>
        </div>

        <el-row :gutter="16">
          <el-col :span="18">
            <line-chart :chart-data="chartData" :code="code" />
          </el-col>
          <el-col :span="6">
            <el-table :data="targetData" border style="width:100%;">
              <el-table-column prop="name" label="指标"></el-table-column>
              <el-table-column prop="profit" label="产品值"></el-table-column>
              <el-table-column prop="loop_test" label="冲击值"></el-table-column>
              <el-table-column prop="strategy" label="回测值"></el-table-column>
            </el-table>
          </el-col>
        </el-row>
        <div style="height:20px"></div>

        <div style="height:20px"></div>
        <h2>冲击差值:</h2>
        <bfDiffChart :diffData="diffData" :diffBeforData="diffBeforData"></bfDiffChart>
        <h2>回测差值:</h2>
        <bfDiffChart :diffData="diffAfterData" :diffBeforData="diffBeforAfterData"></bfDiffChart>

        <el-radio-group v-model="radio" @change="changeRadio">
          <el-radio label="year">年</el-radio>
          <el-radio label="month">月</el-radio>
          <el-radio label="week">周</el-radio>
        </el-radio-group>

        <BarChartTime :chartData="barDate"></BarChartTime>
      </el-tab-pane>
      <el-tab-pane label="仓位监控" name="watch">
        <div style="height:20px"></div>
        <h2>交易日志:</h2>
        <el-table :data="logData" width="100%" max-height="400">
          <el-table-column property="Date" label="日期" width="220"></el-table-column>
          <el-table-column property="Remark" label="内容"></el-table-column>
        </el-table>

        <div style="height:20px"></div>
        <h2>仓位监控:</h2>
        <el-table
          v-show="redisData.length>0"
          :data="redisData"
          :row-class-name="tableRowClassName"
          height="70vh"
          border
          style="width: 100%"
        >
          <el-table-column prop="Code" label="证券代码" sortable></el-table-column>
          <el-table-column prop="RealPosition" label="真实持仓" sortable></el-table-column>
          <el-table-column prop="Price" label="价格" sortable></el-table-column>
          <el-table-column prop="LogicalPosition" label="理论持仓" sortable></el-table-column>
          <el-table-column prop="BalanceDifference" label="金额差值" sortable></el-table-column>
          <el-table-column label="调整仓位" width="200">
            <template slot-scope="scope">
              <el-button @click="adjustPosition(scope.row)" type="text" size="small">调整</el-button>
            </template>
          </el-table-column>
          <el-table-column type="expand">
            <template slot-scope="props">
              <el-table :data="props.row.StrategyPositions" border style="width: 100%">
                <el-table-column prop="StrategyTitle" label="策略名称" sortable></el-table-column>
                <el-table-column prop="TradeLimit" label="涨跌停" sortable>
                  <template slot-scope="scope">
                    <span>{{scope.row.TradeLimit==1?"涨":scope.row.TradeLimit==2?"停":"无"}}</span>
                  </template>
                </el-table-column>
                <el-table-column prop="DaysHold" label="持仓天数" sortable></el-table-column>
                <el-table-column prop="Vol" label="数量" sortable></el-table-column>
                <el-table-column prop="TradeTime" label="交易时间" sortable></el-table-column>
                <el-table-column prop="Price" label="价格" sortable></el-table-column>
              </el-table>
            </template>
          </el-table-column>
        </el-table>

        <h4>股票</h4>
        <el-table
          v-show="redisData.length==0"
          :data="stockPositionData"
          stripe
          max-height="500"
          style="width: 100%"
          border
        >
          <el-table-column type="index"></el-table-column>
          <el-table-column prop="Code" label="证券代码" sortable width="180"></el-table-column>
          <el-table-column label="方向" width="180">
            <template slot-scope="scope">
              <span>{{scope.row.Direction==1?"多头":scope.row.Direction==0?"空头":""}}</span>
            </template>
          </el-table-column>
          <el-table-column prop="OpenPrice" label="成本价"></el-table-column>
          <el-table-column prop="NowPrice" label="最新价"></el-table-column>
          <el-table-column prop="NowVol" label="数量"></el-table-column>
          <el-table-column prop="DaySumProfit" label="当日盈亏" sortable></el-table-column>
          <el-table-column prop="DaySumProfitRatio" label="当日盈亏比" sortable>
            <template slot-scope="{row}">
              <span>{{row.DaySumProfitRatio?row.DaySumProfitRatio+"%":""}}</span>
            </template>
          </el-table-column>
          <el-table-column prop="MarketValue" label="持仓市值" sortable></el-table-column>
          <el-table-column prop="PositionProfit" label="持仓盈亏" sortable></el-table-column>
          <el-table-column prop="PositionProfitRatio" label="持仓盈亏比" sortable>
            <template slot-scope="{row}">
              <span>{{row.PositionProfitRatio?row.PositionProfitRatio+"%":""}}</span>
            </template>
          </el-table-column>
        </el-table>

        <h4>期货</h4>
        <el-table
          v-show="redisData.length==0"
          :data="futurePositionData"
          stripe
          max-height="500"
          style="width: 100%"
          border
        >
          <el-table-column type="index"></el-table-column>
          <el-table-column prop="Code" label="证券代码" sortable width="180"></el-table-column>
          <el-table-column label="方向" width="180">
            <template slot-scope="scope">
              <span>{{scope.row.Direction==1?"多头":scope.row.Direction==0?"空头":""}}</span>
            </template>
          </el-table-column>
          <el-table-column prop="OpenPrice" label="成本价"></el-table-column>
          <el-table-column prop="NowPrice" label="最新价"></el-table-column>
          <el-table-column prop="NowVol" label="数量"></el-table-column>
          <el-table-column prop="DaySumProfit" label="当日盈亏" sortable></el-table-column>
          <el-table-column prop="DaySumProfitRatio" label="当日盈亏比" sortable>
            <template slot-scope="{row}">
              <span>{{row.DaySumProfitRatio?row.DaySumProfitRatio+"%":""}}</span>
            </template>
          </el-table-column>
          <el-table-column prop="MarketValue" label="持仓市值" sortable></el-table-column>
          <el-table-column prop="PositionProfit" label="持仓盈亏" sortable></el-table-column>
          <el-table-column prop="PositionProfitRatio" label="持仓盈亏比" sortable>
            <template slot-scope="{row}">
              <span>{{row.PositionProfitRatio?row.PositionProfitRatio+"%":""}}</span>
            </template>
          </el-table-column>
        </el-table>

        <h4>异常数据</h4>
        <el-table
          v-show="redisData.length==0"
          :data="warnPositionData"
          stripe
          max-height="500"
          style="width: 100%"
          border
        >
          <el-table-column type="index"></el-table-column>
          <el-table-column prop="Code" label="证券代码" sortable width="180"></el-table-column>
          <el-table-column label="方向" width="180">
            <template slot-scope="scope">
              <span>{{scope.row.Direction==1?"多头":scope.row.Direction==0?"空头":""}}</span>
            </template>
          </el-table-column>
          <el-table-column prop="OpenPrice" label="成本价"></el-table-column>
          <el-table-column prop="NowPrice" label="最新价"></el-table-column>
          <el-table-column prop="NowVol" label="数量"></el-table-column>
          <el-table-column prop="DaySumProfit" label="当日盈亏" sortable></el-table-column>
          <el-table-column prop="DaySumProfitRatio" label="当日盈亏比" sortable>
            <template slot-scope="{row}">
              <span>{{row.DaySumProfitRatio?row.DaySumProfitRatio+"%":""}}</span>
            </template>
          </el-table-column>
          <el-table-column prop="MarketValue" label="持仓市值" sortable></el-table-column>
          <el-table-column prop="PositionProfit" label="持仓盈亏" sortable></el-table-column>
          <el-table-column prop="PositionProfitRatio" label="持仓盈亏比" sortable>
            <template slot-scope="{row}">
              <span>{{row.PositionProfitRatio?row.PositionProfitRatio+"%":""}}</span>
            </template>
          </el-table-column>
        </el-table>
      </el-tab-pane>
      <el-tab-pane label="产品方案" name="product">
        <h2>{{name}}</h2>
        <el-table :data="strategyData" :row-style="tableRowStyle" style="width: 100%">
          <el-table-column label="产品方案">
            <template slot="header" slot-scope="scope">
              <div style="cursor: pointer;" @click="showFang=!showFang">
                <span>产品方案</span>
                <font style="color: #409EFF" class="el-icon-caret-bottom" v-if="showFang">收起</font>
                <font style="color: #409EFF" class="el-icon-caret-right" v-else>展开</font>
              </div>
            </template>
            <template slot-scope="scope">
              <span v-show="showFang">{{scope.row.FundSolution}}</span>
            </template>
          </el-table-column>
          <el-table-column label="敞口">
            <template slot-scope="scope">
              <span v-show="showFang">{{scope.row.FundExposure}}</span>
            </template>
          </el-table-column>
          <el-table-column label="更多">
            <template slot-scope="scope">
              <el-button @click="toStrategy()" type="text" size="small">历史回测信息</el-button>
            </template>
          </el-table-column>
        </el-table>
      </el-tab-pane>
    </el-tabs>
    <div style="display:none">以下是dialog</div>

    <el-dialog :title="title" :visible.sync="dialogDiff">
      <el-table :data="stockData" :row-class-name="logDialogTableClassName" style="width: 100%">
        <el-table-column prop="Code" label="股票" sortable></el-table-column>
        <el-table-column prop="TypeStr" label="成交" sortable></el-table-column>
        <el-table-column prop="Vol" label="手数" sortable></el-table-column>
        <el-table-column prop="Price_real" label="真实" sortable></el-table-column>
        <el-table-column prop="Price_test" label="回测" sortable></el-table-column>
        <el-table-column prop="SlipPage" label="滑点" sortable></el-table-column>
        <el-table-column prop="SlippageP" label="滑点比率‰" sortable></el-table-column>
        <el-table-column prop="Spread" label="价差" sortable></el-table-column>
      </el-table>
      <h3>当天日志</h3>
      <el-table :data="logDialogData" width="100%" max-height="400">
        <el-table-column property="Date" label="日期" width="220"></el-table-column>
        <el-table-column property="Remark" label="内容"></el-table-column>
      </el-table>
      <span slot="footer" class="dialog-footer">
        <el-button @click="dialogDiff = false">关闭</el-button>
      </span>
    </el-dialog>

    <el-dialog title="导入持仓" :visible.sync="dialogHoldPosition" width="30%" center>
      <el-upload
        class="upload-demo"
        action
        multiple
        :http-request="(val)=>{addTwofile(val,'position')}"
      >
        <el-button size="small" type="primary">选择Position文件</el-button>
        <div slot="tip" class="el-upload__tip">只能上传csv文件</div>
      </el-upload>

      <el-upload
        class="upload-demo"
        action
        multiple
        :http-request="(val)=>{addTwofile(val,'balance')}"
      >
        <el-button size="small" type="primary">选择Balance文件</el-button>
        <div slot="tip" class="el-upload__tip">只能上传csv文件</div>
      </el-upload>

      <span slot="footer" class="dialog-footer">
        <el-button @click="uploadTwoFile">完成</el-button>
      </span>
    </el-dialog>
    <el-dialog title="交易日志" :visible.sync="logDialog">
      <!-- <el-table :data="logData" width="100%" max-height="400">
        <el-table-column property="Date" label="日期" width="180"></el-table-column>
        <el-table-column property="Remark" label="内容"></el-table-column>
      </el-table>-->
      <el-form :inline="true" :model="logForm" style=" margin-top: 10px">
        <el-form-item label="活动时间" required>
          <el-col :span="11">
            <el-form-item prop="date1">
              <el-date-picker
                type="date"
                placeholder="选择日期"
                v-model="logData.Date"
                style="width: 150px"
              ></el-date-picker>
            </el-form-item>
          </el-col>
        </el-form-item>
        <el-form-item label="内容">
          <el-input
            v-model="logForm.Remark"
            type="textarea"
            :rows="4"
            style="width: 500px"
            placeholder="内容"
          ></el-input>
        </el-form-item>
        <el-form-item>
          <el-button type="primary" @click="submitLogForm">新增</el-button>
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button @click="logDialog=flase">完成</el-button>
      </span>
    </el-dialog>

    <el-dialog title="导入历史成交流水" :visible.sync="dialogHistory" width="30%" center>
      <el-upload
        class="upload-demo"
        action
        multiple
        :http-request="(val)=>{uploadFuncB(val,'history')}"
      >
        <el-button size="small" type="primary">选择HisTradeFlow文件</el-button>
        <div slot="tip" class="el-upload__tip">只能上传csv文件</div>
      </el-upload>

      <span slot="footer" class="dialog-footer">
        <el-button @click="dialogHistory = false">完成</el-button>
      </span>
    </el-dialog>

    <el-dialog title="导入流水" :visible.sync="dialogTradeFlow" width="30%" center>
      <el-upload
        class="upload-demo"
        action
        multiple
        :http-request="(val)=>{uploadFuncB(val,'tradeFlow')}"
      >
        <el-button size="small" type="primary">选择TradeFlow文件</el-button>
        <div slot="tip" class="el-upload__tip">只能上传csv文件</div>
      </el-upload>

      <span slot="footer" class="dialog-footer">
        <el-button @click="dialogTradeFlow = false">完成</el-button>
      </span>
    </el-dialog>
    <el-dialog title="调整持仓" :visible.sync="adjustCangDialog" width="50%">
      <el-form :model="adjustForm" label-width="80px" style="width:70%">
        <el-form-item label="证券代码">
          <el-input v-model="adjustForm.Code" disabled></el-input>
        </el-form-item>
        <el-form-item label="价格">
          <el-input v-model="adjustForm.Price"></el-input>
        </el-form-item>
        <el-form-item label="数量">
          <el-input v-model="adjustForm.Vol"></el-input>
        </el-form-item>
        <el-form-item label="买卖方向">
          <el-radio-group v-model="adjustForm.Direction">
            <el-radio :label="0">买</el-radio>
            <el-radio :label="1">卖</el-radio>
          </el-radio-group>
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button @click="editCang" type="primary">完成</el-button>
        <el-button @click="adjustCangDialog = false" type="primary">取消</el-button>
      </span>
    </el-dialog>

    <el-dialog :visible.sync="bindStrategy" width="40%">
      <el-transfer
        v-model="transferBindValue"
        :titles="['回测方案', '已绑定方案']"
        :data="transferBackTestDate"
      ></el-transfer>
      <span slot="footer" class="dialog-footer">
        <el-button @click="handleBindStrategy" type="primary">确定</el-button>
      </span>
    </el-dialog>

    <el-dialog :visible.sync="showStrategy">
      <el-transfer v-model="transferShowValue" :titles="['绑定', '显示']" :data="transferBindDate">
        <el-button class="transfer-footer" slot="right-footer" size="small">确定</el-button>
      </el-transfer>
      <span slot="footer" class="dialog-footer">
        <el-button @click="showStrategy = false">完成</el-button>
      </span>
    </el-dialog>

    <el-dialog :visible.sync="adjustPositionDialog" width="75%">
      <span slot="title" class="dialog-title">
        <div class="hand">
          <span>账号：-</span>
          <span>净资产CNY:</span>
          <span>持仓市值CNY:</span>
          <span>现金CNY:</span>
          <span>回购CNY:</span>
        </div>
      </span>
      <adjust :isXuNi="isXuNi"></adjust>
      <span slot="footer" class="dialog-footer">
        <el-button @click="adjustPositionDialog = false" type="primary">完成</el-button>
      </span>
    </el-dialog>
    <el-dialog :visible.sync="jitiDialog" width="75%">
      <el-button @click="openJitiInline()">新增计提流水</el-button>
      <el-table :data="jitiTable" highlight-current-row>
        <el-table-column prop="AccrualDate" sortable label="日期">
          <template slot-scope="{row}">
            <span>{{row.AccrualDate.slice(0,10)}}</span>
          </template>
        </el-table-column>
        <el-table-column prop="Price" sortable label="价格"></el-table-column>
        <el-table-column prop="Vol" sortable label="数量"></el-table-column>
        <el-table-column prop="Direction" sortable label="存取">
          <template slot-scope="{row}">
            <span>{{row.Direction?"存":"取"}}</span>
          </template>
        </el-table-column>
        <el-table-column sortable label="操作">
          <template slot-scope="{row}">
            <el-button size="mini" type="success" @click="openJitiInline(row)" round>修改</el-button>
            <el-button size="mini" type="danger" @click="deleteJitiInline(row)" round>删除</el-button>
          </template>
        </el-table-column>
      </el-table>
      <el-dialog width="30%" :visible.sync="jitiInlineDialog" append-to-body>
        <el-form :model="jitiInlineForm" label-width="80px">
          <el-form-item label="日期">
            <el-date-picker
              v-model="jitiInlineForm.AccrualDate"
              type="date"
              value-format="yyyy-MM-dd"
              placeholder="选择日期"
            ></el-date-picker>
          </el-form-item>
          <el-form-item label="价格">
            <el-input v-model="jitiInlineForm.Price"></el-input>
          </el-form-item>
          <el-form-item label="数量">
            <el-input v-model="jitiInlineForm.Vol"></el-input>
          </el-form-item>
          <el-form-item label="存取">
            <el-switch
              style="display: block"
              v-model="jitiInlineForm.Direction"
              active-text="存"
              inactive-text="取"
              :active-value="1"
              :inactive-value="0"
            ></el-switch>
          </el-form-item>
        </el-form>
        <span slot="footer" class="dialog-footer">
          <el-button @click="finishJitiInline" type="primary" :disabled="isDisabled">完成</el-button>
        </span>
      </el-dialog>
      <span slot="footer" class="dialog-footer">
        <el-button @click="jitiDialog = false" type="primary">完成</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
import LineChart from "../dashboard/components/LineChart";
import barChart from "@/components/BFCharts/stocksPchart";
import bfDiffChart from "@/components/BfDiffChart/index";
import adjust from "./components/adjust";
import {
  fetchChartData,
  fetchStrategyData,
  uploadPB,
  uploadHistory,
  uploaTradeFlow,
  clearFundInfo,
  getAccountId,
  getCountToday,
  getRealTimeProfit,
  getChartBar,
  getCheckDate,
  getAccrualData,
  updateAccrualData
} from "@/api/bf-product";
import { getAllTable, getBindFund, postBindFund } from "@/api/backTestSk";
import { getLog, addLog } from "@/api/log";
import BarChartTime from "@/components/BFCharts/barChart";
const upload2Func = {
  pb: uploadPB,
  history: uploadHistory,
  tradeFlow: uploaTradeFlow
};
export default {
  name: "detail",
  components: { LineChart, adjust, barChart, bfDiffChart, BarChartTime },
  computed: {
    permissionShow: function() {
      return true;
    },
    chartTimeLog() {
      return this.$store.state.sign.chartTimeLog;
    }
  },
  data() {
    return {
      showFang: true,
      jitiDialog: false,
      jitiInlineDialog: false,
      isDisabled: false,
      redisData: [],
      jitiTable: [],
      stockPositionData: [],
      futurePositionData: [],
      strategyData: [],
      targetData: [],
      logData: [],
      logForm: {},
      title: "差异对比",
      dialogDiff: false,
      logDialogData: [],
      activeName: "profit",
      chartData: {},
      warnPositionData: [],
      productId: 0,
      dialogHoldPosition: false,
      dialogHistory: false,
      dialogTradeFlow: false,
      logDialog: false,
      fileList: [],
      bindStrategy: false,
      showStrategy: false,
      transferBackTestDate: [],
      transferBindValue: [],
      transferShowValue: [],
      transferBindDate: [{ key: 1, label: "fang" }],
      holdBalanceList: [],
      holdPositionList: [],
      historyFileList: [],
      tradeFlowList: [],
      code: "",
      radio: "",
      jitiInlineForm: {},
      adjustPositionDialog: false,
      adjustCangDialog: false,
      adjustForm: {},
      uploadFiles: {},
      accountId: "",
      stocksDiff: {},
      diffBeforData: {},
      diffData: {},
      diffBeforAfterData: {},
      diffAfterData: {},
      showXuNi: false,
      isXuNi: false,
      barDate: {},
      stockData: [{}]
    };
  },
  watch: {
    chartTimeLog(value, valueOld) {
      if (value && value != "" && value != valueOld) {
        this.openlogDialog({ date: value, fundId: this.$route.query.id });
      }
    },
    dialogHoldPosition: {
      handler(val) {
        this.uploadFiles = {};
      }
    },
    logDialog: function(val) {
      if (val) {
      } else {
        this.logForm = {};
      }
    }
  },
  sockets: {
    getdata: function(res) {
      for (let r of res) {
        r.StrategyPositions = this.formatRedisDetail(r.StrategyPositions);
      }
      this.redisData = res;
    },
    edit: function(res) {
      if (res == "success") {
        this.$message({
          type: "success",
          message: "修改成功"
        });
      }
    }
  },
  methods: {
    openJitiInline(row) {
      this.jitiInlineDialog = true;
      this.isDisabled = false;
      if (row) {
        this.jitiInlineForm = row;
      } else {
        this.jitiInlineForm = {
          AccrualDate: "",
          Price: "",
          Vol: "",
          Direction: 0
        };
      }
    },
    deleteJitiInline(row) {
      this.$confirm("是否删除?", "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning"
      })
        .then(() => {
          updateAccrualData({
            "type": "delete",
            "row": row
          }).then(res => {
            this.$message({
              type: "success",
              message: "删除成功!"
            });
            this.openJiti()
          });
        })
        .catch(() => {
          this.$message({
            type: "info",
            message: "已取消删除"
          });
        });
    },
    finishJitiInline() {
      this.jitiInlineForm.FundId = this.$route.query.id;
      this.isDisabled = true;
      updateAccrualData({
        type: this.jitiInlineForm.Id ? "update" : "add",
        row: this.jitiInlineForm
      }).then(res => {
        this.jitiInlineDialog = false;
        this.openJiti();
      });
    },
    openJiti() {
      getAccrualData({ foud_id: this.$route.query.id }).then(res => {
        this.jitiDialog = true;
        this.jitiTable = res;
      });
    },
    logDialogTableClassName({ row, rowIndex }) {
      if (rowIndex === 0) {
        return "mean-row";
      }
      return "";
    },
    openlogDialog(msg) {
      this.title = msg.date;
      this.dialogDiff = true;
      getCheckDate(msg).then(res => {
        if (res.code) {
          this.stockData = res.data.stockData;
          this.logDialogData = res.data.logDialogData;
        }
      });
    },
    changeRadio(r) {
      // todo 添加相应逻辑
      getChartBar({ fundId: this.$route.query.id, timeType: r }).then(res => {
        this.barDate = res.data;
      });
    },
    openBindStrategy() {
      getAllTable().then(res => {
        this.transferBackTestDate = res.data.map(map_res => {
          return { key: map_res.Id, label: map_res.Tag };
        });
      });
      getBindFund({ fundId: this.$route.query.id }).then(res => {
        this.transferBindValue = res.data;
      });
      this.bindStrategy = true;
    },
    handleBindStrategy() {
      postBindFund({
        fundId: this.$route.query.id,
        strategyIds: this.transferBindValue
      }).then(res => {
        if (res.code) {
          this.$message({ type: "success", message: "添加成功" });
          this.bindStrategy = false;
          this.flush();
        }
      });
    },
    submitLogForm() {
      const id = this.$route.query.id;
      this.logForm.FundId = id;
      addLog(this.logForm).then(res => {
        if (res.code) {
          this.$message({ type: "success", message: "添加成功" });
          getLog({ FundId: id }).then(res => {
            this.logData = res.data;
          });
        }
      });
    },
    tableRowClassName({ row }) {
      if (Math.abs(row.BalanceDifference) > 5000) {
        return "warning-row";
      }
      return "";
    },
    formatRedisDetail(parm) {
      let res = [];
      if (parm.length == 0) {
        return res;
      }
      for (let i of parm) {
        for (let j of i.Trades) {
          const r = { ...j, StrategyTitle: i.StrategyTitle };
          res.push(r);
        }
      }
      return res;
    },
    adjustRefresh() {
      this.flush();
    },
    getMarket() {
      const id = this.accountId;
      if (this.accountId.length < 1) {
        this.$message("网络问题，未得到参数");
        return;
      }
      this.$socket.emit("getdata", { id: id }); //监听connect事件
    },
    editCang() {
      const id = this.accountId;
      const parm = this.adjustForm;
      this.$socket.emit("edit", { id: id, parm: parm });
      this.adjustCangDialog = false;
    },
    cclearFundInfo() {
      const id = this.$route.query.id;
      this.$confirm("确认清除吗？", "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消"
      })
        .then(() => {
          clearFundInfo({ id: id }).then(res => {
            if (res.code) {
              this.$message({
                message: "清除成功",
                type: "success"
              });
              this.flush();
            } else {
              this.$message({
                message: "失败",
                type: "error"
              });
            }
          });
        })
        .catch(() => {
          this.$message({
            type: "info",
            message: "已取消删除"
          });
        });
    },
    toStrategy() {
      const id = this.$route.query.id;
      this.$router.push({ path: "/strategy", query: { id: id } });
    },
    adjustPosition(row) {
      this.adjustCangDialog = true;
      this.adjustForm = { Code: row.Code };
    },
    tableRowStyle() {
      return "white-space: pre-line;";
    },
    checkout(res) {
      if (res.code < 0) {
        this.$message.error(res.msg);
      }
      const parm = { id: this.$route.query.id };
      fetchChartData(parm).then(res => {
        this.chartData = res.data;
      });
    },
    uploadTwoFile() {
      var form = new FormData();
      form.append("id", this.id);
      form.append("account_number", -1);
      for (let f in this.uploadFiles) {
        form.append(f, this.uploadFiles[f]);
      }
      upload2Func.pb(form).then(res => {
        if (res.code) {
          this.$message("上传成功");
          this.flush();
        } else {
          this.$message({
            message: res.msg,
            type: "error"
          });
        }
        this.dialogHoldPosition = false;
      });
    },
    addTwofile(param, type) {
      this.uploadFiles[type] = param.file;
    },
    switchXuNi(parm) {
      this.isXuNi = parm;
      this.adjustPositionDialog = true;
    },
    //封装上传文件的母类
    uploadFuncB(param, type) {
      var fileObj = param.file;
      var form = new FormData();
      form.append("file", fileObj);
      form.append("id", this.id);
      form.append("account_number", -1);
      upload2Func[type](form).then(res => {
        if (res.code) {
          this.$message("上传成功");
          this.flush();
        }
      });
    },
    uploadFunc2(param) {
      var fileObj = param.file;
      // FormData 对象
      var form = new FormData();
      // 文件对象
      form.append("file", fileObj);
      // 其他参数
      const id = this.$route.query.bfund;
      form.append("id", id);
      form.append("account_number", -1);
      uploaTradeFlow(form).then(res => {
        if (res.code) {
          this.$message({
            message: "上传成功",
            type: "success"
          });
          this.flush();
        }
      });
    },
    countToday() {
      const parm = { id: this.$route.query.id };
      getCountToday(parm).then(res => {
        if (res.code) {
          this.$message({
            message: "成功",
            type: "success"
          });
          this.flush();
        }
      });
    },
    calOneDayChart(chartData, Profit, BaseFundIdProfit, name) {
      //以下为处理单日值
      const diffData = {};
      const real = chartData[Profit];
      const backTest = chartData[BaseFundIdProfit];
      diffData.x = chartData.Datetime;
      diffData.y = {};
      diffData.y[name] = [];
      for (let i in real) {
        const t = real[i] - backTest[i];
        diffData.y[name][i] = t.toFixed(4);
      }

      const diffBeforData = {};
      diffBeforData.x = chartData.Datetime;
      diffBeforData.y = {};
      diffBeforData.y[name] = [];
      for (let i = 1; i < backTest.length; i++) {
        diffBeforData.y[name][i] = (
          real[i] -
          real[i - 1] -
          backTest[i] +
          backTest[i - 1]
        ).toFixed(4);
      }
      return [diffData, diffBeforData];
    },
    flush() {
      const parm = { id: this.$route.query.id };
      const id = this.$route.query.id;
      getLog({ FundId: id }).then(res => {
        this.logData = res.data;
      });
      fetchChartData(parm).then(res => {
        this.chartData = res.data;
        this.targetData = res.data.target;
        const calRes = this.calOneDayChart(
          this.chartData,
          "Profit",
          "BaseFundIdProfit",
          "产品-冲击"
        );
        this.diffData = calRes[0];
        this.diffBeforData = calRes[1];
        const calRes2 = this.calOneDayChart(
          this.chartData,
          "StrategyProfit",
          "BaseFundIdProfit",
          "回测-冲击"
        );
        this.diffAfterData = calRes2[0];
        this.diffBeforAfterData = calRes2[1];
      });
      fetchStrategyData(parm).then(res => {
        this.strategyData = res.data;
      });
      getRealTimeProfit(parm).then(res => {
        this.stockPositionData = res.data.ProfitInfo[0];
        this.futurePositionData = res.data.ProfitInfo[1];
        this.warnPositionData = res.data.ProfitInfo[0]
          .filter(res => res.NowVol < 0)
          .concat(res.data.ProfitInfo[0].filter(res => res.NowVol < 0));
      });
    }
  },
  created() {
    this.code = this.$route.query.code;
    this.name = this.$route.query.name;
    this.id = this.$route.query.id;
  },
  mounted() {
    const parm = { id: this.$route.query.id };
    getAccountId(parm).then(res => {
      this.accountId = res.data;
    });
    this.flush();
  }
};
</script>

<style lang="scss">
.el-table .mean-row {
  background: #abcdef;
}
.el-table .warning-row {
  background-color: oldlace;
}
.el-transfer-panel {
  width: 300px;
}
.documentation-container {
  margin: 50px;
}
.btu-mother {
  display: flex;
}
.upload-demo {
  margin-top: 20px;
}
.btu-div {
  margin-left: 10px;
}
.hand {
  font-size: 1.12rem;
  span {
    margin-right: 1.2rem;
  }
}
</style>
