<template>
  <div class="app-container">
    <el-form ref="form" :model="form" label-width="110px">
      <el-form-item label="产品名称">
        <el-input v-model="form.FundName" style="width: 300px;"></el-input>
      </el-form-item>
      <el-form-item label="初始资金">
        <el-input v-model="form.InitialFunds" style="width: 300px;"></el-input>
      </el-form-item>
      <el-form-item label="基准代码">
        <el-input v-model="form.BaseCode" style="width: 300px;" placeholder="例：000001.SKIN"></el-input>
      </el-form-item>
      <el-form-item label="股票账户">
        <el-input v-model="form.StockList" style="width: 300px;" placeholder="若有多个账户，请用','分隔"></el-input>
      </el-form-item>
      <el-form-item label="期货账户">
        <el-input v-model="form.FutureList" style="width: 300px;" placeholder="若有多个账户，请用','分隔"></el-input>
      </el-form-item>
      <el-form-item label="开始时间">
        <el-col :span="11">
          <el-date-picker
            v-model="form.CreateDate"
            type="date"
            placeholder="选择日期"
            format="yyyy 年 MM 月 dd 日"
            value-format="yyyy-MM-dd"
          ></el-date-picker>
        </el-col>
      </el-form-item>
      <el-form-item label="产品方案">
        <el-input type="textarea" :rows="10" style="width: 300px;" v-model="form.solution"></el-input>
      </el-form-item>
      <el-form-item label="敞口">
        <el-input v-model="form.exposure" style="width: 300px;"></el-input>
      </el-form-item>
      <el-form-item label="预期收益参数">
        <el-input v-model="form.expect" style="width: 300px;"></el-input>
      </el-form-item>
      <el-form-item>
        <el-button type="primary" @click="onSubmit">立即创建</el-button>
        <el-button>取消</el-button>
      </el-form-item>
    </el-form>
  </div>
</template>

<script>
import { addProduct } from "@/api/bf-product";
export default {
  name: "",
  props: [""],

  data() {
    return {
      CreateDate: "",
      form: {
        BaseCode: "",
        FundName: "",
        InitialFunds: "",
        StockList: "",
        FutureList: "",
        CreateDate: ""
      }
    };
  },
  methods: {
    onSubmit() {
      addProduct(this.form).then(r => {
        if (r.FundId) {
          this.$message({
                type: "info",
                message: '新增成功'
              });
          this.$router.push({path:'/product/now'})
        } else {
          this.$message.error(r.msg);
        }
      });
    }
  },

  components: {},

  computed: {},

  beforeMount() {},

  mounted() {
    console.log("重新加载")
  },

  watch: {}
};
</script>
<style lang='' scoped>
</style>