<template>
  <div>
    <el-row :gutter="20">
      <el-col :span="4">
        <div>
          <el-table
            ref="singleTable"
            :data="timeTable"
            highlight-current-row
            @current-change="rowClick"
          >
            <el-table-column prop="TradeDate" sortable label="日期"></el-table-column>
          </el-table>
        </div>
      </el-col>
      <el-col :span="20">
        <div class="bottom">
          <el-button @click="moneyDialog=true">现金存取</el-button>
          <el-button @click="inputDialog=true">交易录入</el-button>
          <el-button @click="creditDialog=true">红冲流水</el-button>
        </div>
        <div>
          <el-table :data="detailTable" style="width: 100%">
            <el-table-column type="index" width="50"></el-table-column>
            <el-table-column prop="Code" label="证券代码"></el-table-column>
            <el-table-column prop="TradeDate" label="买卖日期" width="200"></el-table-column>
            <el-table-column label=" 买卖数量">
              <template slot-scope="{row}">
                <template v-if="row.edit">
                  <el-input v-model="row.Vol" :rows="6" />
                </template>
                <span v-else>{{ row.Vol }}</span>
              </template>
            </el-table-column>
            <el-table-column label="买卖价格">
              <template slot-scope="{row}">
                <template v-if="row.edit">
                  <el-input v-model="row.Price" :rows="6" />
                </template>
                <span v-else>{{ row.Price }}</span>
              </template>
            </el-table-column>
            <el-table-column label="多空">
              <template slot-scope="{row}">
                <template v-if="row.edit">
                  <el-radio-group v-model="row.Direction">
                    <el-radio :label="1">多</el-radio>
                    <el-radio :label="0">空</el-radio>
                  </el-radio-group>
                </template>
                <span v-else>{{ row.Direction?"多":"空" }}</span>
              </template>
            </el-table-column>
            <el-table-column label="买卖">
              <template slot-scope="{row}">
                <template v-if="row.edit">
                  <el-radio-group v-model="row.Type">
                    <el-radio :label="0">买</el-radio>
                    <el-radio :label="1">卖</el-radio>
                  </el-radio-group>
                </template>
                <span v-else>{{ row.Type?"卖":"买" }}</span>
              </template>
            </el-table-column>
            <el-table-column label="操作" width="200">
              <template slot-scope="{row}">
                <el-button v-if="row.edit" type="text" size="mini" @click="confirmEdit(row)">完成</el-button>
                <el-button v-else type="primary" size="mini" @click="row.edit=!row.edit">编辑</el-button>
                <el-button
                  v-if="row.edit"
                  class="cancel-btn"
                  size="mini"
                  type="text"
                  @click="row.edit = false"
                >取消</el-button>
                <el-button type="danger" size="mini" @click="deleteRow(row)">删除</el-button>
              </template>
            </el-table-column>
          </el-table>
        </div>
      </el-col>
    </el-row>
    <el-dialog width="30%" title="红冲流水" :visible.sync="creditDialog" append-to-body>
      <el-form :model="creditForm" label-width="80px">
        <el-form-item label="日期">
          <el-input v-model="creditForm.TradeDate" :disabled="true"></el-input>
        </el-form-item>
        <el-form-item label="现金">
          <el-input v-model="creditForm.Vol"></el-input>
        </el-form-item>
        <el-form-item label="收益">
          <el-radio-group v-model="creditForm.Type">
            <el-radio :label="1">增加</el-radio>
            <el-radio :label="0">减少</el-radio>
          </el-radio-group>
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button :disabled="actionStop" @click="clickCredit" type="primary">修改</el-button>
        <el-button @click="creditDialog=false">取消</el-button>
      </span>
    </el-dialog>
    <el-dialog width="30%" title="现金存取" :visible.sync="moneyDialog" append-to-body>
      <el-form :model="moneyForm" label-width="80px">
        <el-form-item label="日期">
          <el-input v-model="moneyForm.TradeDate" :disabled="true"></el-input>
        </el-form-item>
        <el-form-item label="现金">
          <el-input v-model="moneyForm.Vol"></el-input>
        </el-form-item>
        <el-form-item label="存取">
          <el-radio-group v-model="moneyForm.Type">
            <el-radio :label="1">存</el-radio>
            <el-radio :label="0">取</el-radio>
          </el-radio-group>
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button :disabled="actionStop" @click="clickMoney" type="primary" >修改</el-button>
        <el-button @click="moneyDialog=false">取消</el-button>
      </span>
    </el-dialog>
    <el-dialog width="30%" title="交易录入" :visible.sync="inputDialog" append-to-body>
      <el-form :model="tranForm" label-width="80px" width="200px
      ">
        <el-form-item label="日期">
          <el-input v-model="tranForm.TradeDate" :disabled="true"></el-input>
        </el-form-item>
        <el-form-item label="代码">
          <el-input v-model="tranForm.Code"></el-input>
        </el-form-item>
        <el-form-item label="数量">
          <el-input v-model="tranForm.Vol"></el-input>
        </el-form-item>
        <el-form-item label="价格">
          <el-input v-model="tranForm.Price"></el-input>
        </el-form-item>
        <el-form-item label="买卖">
          <el-radio-group v-model="tranForm.Type">
            <el-radio :label="0">买</el-radio>
            <el-radio :label="1">卖</el-radio>
          </el-radio-group>
        </el-form-item>
        <el-form-item label="多空">
          <el-radio-group v-model="tranForm.Direction">
            <el-radio :label="1">多</el-radio>
            <el-radio :label="0">空</el-radio>
          </el-radio-group>
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button :disabled="actionStop" @click="clickInput" type="primary">修改</el-button>
        <el-button @click="inputDialog=false">取消</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
import { saveFixData, getFixTime, getTableData } from "@/api/bf-product";
export default {
  name: "",
  props: ["isXuNi"],
  data() {
    return {
      direction: 0,
      detailTable: [],
      timeTable: [],
      cny: {},
      randomAccountId: "",
      tranForm: {},
      moneyForm: {},
      creditForm:{},
      clickRow: null,
      moneyDialog: false,
      creditDialog:false,
      inputDialog: false,
      FundId: "",
      actionStop:false
    };
  },

  components: {},

  computed: {},

  beforeMount() {},

  mounted() {
    if (this.isXuNi) {
      this.FundId = this.$route.query.bfund;
    } else {
      this.FundId = this.$route.query.id;
    }
    const FundId = this.FundId;
    getFixTime({ FundId }).then(res => {
      this.timeTable = res.data;
      if (this.timeTable.length == 0) {
        this.detailTable=[]
        return;
      }
      this.clickRow = this.timeTable[0];
      this.$refs.singleTable.setCurrentRow(this.clickRow);
    });
  },

  methods: {
    clickCredit(){
      const credit = this.creditForm;
      credit.AccountId = this.randomAccountId;
      const FundId = this.FundId;
      if (!credit.TradeDate) {
        this.$message("请选择日期");
        credit.TradeDate = "2019-9-9 00:00:00";
      }
      if (credit.TradeDate.indexOf("00:00:00") == -1) {
        credit.TradeDate = credit.TradeDate + " 00:00:00";
      }
      this.actionStop=true
      saveFixData({ type: "add", row: credit, FundId: FundId }).then(res => {
        if (res.code) {
          this.creditDialog = false;
          this.$message("添加完成");
          this.rowClick(this.clickRow);
          this.actionStop=false;
        }
      });
    },
    clickMoney() {
      const money = this.moneyForm;
      money.AccountId = this.randomAccountId;
      money.Direction = 1;
      const FundId = this.FundId;
      if (!money.TradeDate) {
        this.$message("请选择日期");
        money.TradeDate = "2019-9-9 00:00:00";
      }
      if (money.TradeDate.indexOf("00:00:00") == -1) {
        money.TradeDate = money.TradeDate + " 00:00:00";
      }
      this.actionStop=true
      saveFixData({ type: "add", row: money, FundId: FundId }).then(res => {
        if (res.code) {
          this.moneyDialog = false;
          this.$message("添加完成");
          this.rowClick(this.clickRow);
          this.actionStop=false;
        }
      });
    },
    clickInput() {
      const input = this.tranForm;
      input.AccountId = this.randomAccountId;
      const FundId = this.FundId;
      if (!input.TradeDate) {
        input.TradeDate = "2019-9-9 00:00:00";
        this.$message("请选择日期");
      }
      if (input.TradeDate.indexOf("00:00:00") == -1) {
        input.TradeDate = input.TradeDate + " 00:00:00";
      }
      this.actionStop=true
      saveFixData({ type: "add", row: input, FundId: FundId }).then(res => {
        if (res.code) {
          this.inputDialog = false;
          this.$message("添加完成");
          this.rowClick(this.clickRow);
          this.actionStop=false;
        }
      });
    },
    deleteRow(row) {
      const FundId = this.FundId;
      delete row.edit;
      this.$confirm("确认清除吗？", "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消"
      })
        .then(() => {
          saveFixData({ type: "delete", row: row, FundId: FundId }).then(
            res => {
              if (res.code) {
                this.$message("修改完成");
                this.rowClick(this.clickRow);
              }
            }
          );
        })
        .catch(() => {
          this.$message({
            type: "info",
            message: "已取消删除"
          });
        });
    },
    confirmEdit(row) {
      const FundId = this.FundId;
      delete row.edit;
      saveFixData({ type: "update", row: row, FundId: FundId }).then(res => {
        if (res.code) {
          this.$message("修改完成");
          this.rowClick(this.clickRow);
        }
      });
    },
    rowClick(row) {
      this.clickRow = row;
      const FundId = this.FundId;
      getTableData({ ...row, FundId: FundId }).then(res => {
        this.detailTable = res.data;
        this.randomAccountId = this.detailTable[0].AccountId;
      });
    }
  },

  watch: {
    moneyDialog: function(val, oldVal) {
      this.actionStop=false
      if (val) {
        this.moneyForm = {};
        this.moneyForm.AccountId = 332;
        this.moneyForm.Code = "CNY";
        this.moneyForm.Price = 1;
        this.moneyForm.TradeDate = this.clickRow.TradeDate;
        this.moneyForm.Direction = 1;
      }
    },
    creditDialog:function(val, oldVal) {
      this.actionStop=false
      if (val) {
        this.creditForm = {};
        this.creditForm.AccountId = 332;
        this.creditForm.Code = "CREDIT";
        this.creditForm.Price = 1;
        this.creditForm.TradeDate = this.clickRow.TradeDate;
        this.creditForm.Direction = 1;
      }
    },
    inputDialog: function(val, oldVal) {
      this.actionStop=false
      if (val) {
        this.tranForm = { AccountId: 332 };
        this.tranForm.TradeDate = this.clickRow.TradeDate;
      }
    },
    isXuNi: function(val, oldVal) {
      if (val) {
        this.FundId = this.$route.query.bfund;
      } else {
        this.FundId = this.$route.query.id;
      }
      const FundId = this.FundId;
      getFixTime({ FundId }).then(res => {
        this.timeTable = res.data;
        if (this.timeTable.length == 0) {
          this.detailTable=[]
          return;
        }
        this.clickRow = this.timeTable[0];
        this.$refs.singleTable.setCurrentRow(this.clickRow);
      });
    }
  }
};
</script>
<style lang='scss' scoped>
.bottom {
  margin-bottom: 2vh;
}
.hand {
  font-size: 1.12rem;
  span {
    margin-right: 1.2rem;
  }
}
</style>