<template>
  <div class="dashboard-container">
    <tree-map :chartData="[]"></tree-map>
  </div>
</template>

<script>
import TreeMap from "@/components/charts/TreeMap";
export default {
  components: { TreeMap },
};
</script>

<style lang="scss" scoped>
.top {
  margin-top: 10px;
}
.dashboard {
  &-container {
    margin: 30px;
  }
  &-text {
    font-size: 30px;
    line-height: 46px;
  }
}
.link-list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
</style>