<template>
  <div>
    <div ref="closeProfitDistributeRef" style="height: 780px"></div>
  </div>
</template>

<script>
import echarts from "echarts";
export default {
  props: ["table"],
  mounted() {
    this.$nextTick(() => {
      this.initTableObj();
      this.initChart();
    });
  },
  data() {
    return {
      chart: null,
      tableObj: {},
    };
  },
  methods: {
    initTableObj() {
      this.tableObj = {
        legendNames: ["Gaussian", "Frequency"],
        y1: this.table["FrequencyYs"].map((x) => {
          return [x["Item1"].toFixed(4), x["Item2"].toFixed(4)];
        }),
        y2: this.table["GaussianDistributionYs"].map((x) => {
          return [x["Item1"].toFixed(4), x["Item2"].toFixed(4)];
        }),
      };
    },
    initChart() {
      this.chart = echarts.init(this.$refs.closeProfitDistributeRef);
      var option = {
        tooltip: {
          trigger: "axis",
          axisPointer: {
            animation: false,
            type: "cross",
          },
        },
        legend: {
          data: this.tableObj["legendNames"],
        },
        toolbox: {
          feature: {
            dataZoom: {
              yAxisIndex: "none",
            },
          },
        },
        axisPointer: {
          link: { xAxisIndex: "all" },
        },
        dataZoom: [
          {
            type: "inside",
            show: true,
            realtime: true,
            start: 0,
            end: 100,
          },
          {
            type: "slider",
            realtime: true,
            start: 0,
            end: 100,
          },
        ],
        xAxis: [
          {
            name: this.tableObj["xTitle"],
            type: "value",
            boundaryGap: false,
            axisLine: { onZero: true },
          },
        ],
        yAxis: [
          {
            scale: true,
            splitArea: {
              show: true,
            },
          },
          {
            scale: true,
            splitArea: {
              show: true,
            },
          },
        ],
        series: [
          {
            name: this.tableObj["legendNames"][0],
            type: "line",
            data: this.tableObj["y1"],
          },
          {
            name: this.tableObj["legendNames"][1],
            type: "bar",
            xAxisIndex: 0,
            yAxisIndex: 1,
            data: this.tableObj["y2"],
          },
        ],
      };
      this.chart.setOption(option);
    },
    handlePeriodChange() {
      this.initTableObj();
      this.initChart();
    },
  },
};
</script>

<style lang="scss" scoped>
</style>
