<template>
  <div>
    <div ref="closeProfitBarRef" style="height:780px;"></div>
  </div>
</template>

<script>
import echarts from "echarts";
export default {
  props: ["table"],
  mounted() {
    this.$nextTick(() => {
      this.initTableObj();
      this.initChart();
    });
  },
  data() {
    return {
      chart: null,
      tableObj: {},
      period: "Day"
    };
  },
  methods: {
    initTableObj() {
      this.tableObj = {
        legend: ["平仓盈亏"],
        xTitle: "日期",
        x: this.table.listTradeDate.map(x => x.slice(0, 10)),
        y1Title: "平仓盈亏",
        y1: this.table.listTradeProfitRate.map(x => x),
        y2Title: "平均值",
        y2: this.table.listTradeProfitRate.map(x => this.table.mean.toFixed(4)),
        y3Title: "盈利平均值",
        y3: this.table.listTradeProfitRate.map(x => this.table.meanProfit.toFixed(4)),
        y4Title: "亏损平均值",
        y4: this.table.listTradeProfitRate.map(x => this.table.meanLoss.toFixed(4))
      };
    },
    initChart() {
      this.chart = echarts.init(this.$refs.closeProfitBarRef);
      var option = {
        title: {
          text: this.tableObj["title"],
          left: "center"
        },
        tooltip: {
          trigger: "axis",
          axisPointer: {
            animation: false,
            type: "cross"
          }
        },
        legend: {
          data: this.tableObj["legend"],
          top: 10
        },
        toolbox: {
          feature: {
            dataZoom: {
              yAxisIndex: "none"
            }
          }
        },
        axisPointer: {
          link: { xAxisIndex: "all" }
        },
        dataZoom: [
          {
            show: true,
            realtime: true,
            start: 0,
            end: 100,
            xAxisIndex: [0]
          },
          {
            type: "inside",
            realtime: true,
            start: 0,
            end: 100,
            xAxisIndex: [0]
          }
        ],
        xAxis: [
          {
            name: this.tableObj["xTitle"],
            type: "category",
            boundaryGap: false,
            axisLine: { onZero: true },
            data: this.tableObj["x"]
          }
        ],
        yAxis: [
          {
            name: this.tableObj["y1Title"],
            type: "value"
          },
          {
            // name: this.tableObj["y2Title"],
            type: "value"
          },
          {
            // name: this.tableObj["y3Title"],
            type: "value"
          },
          {
            // name: this.tableObj["y4Title"],
            type: "value"
          }
        ],
        // visualMap:[
        //   {},
        //   {},
        //   {},
        //   {}
        // ],
        visualMap: {
          show: false,
          seriesIndex:0,
          dimension: 1,
          pieces: [
            {
              lte: 0,
              color: "green"
            },
            {
              gt: 0,
              color: "#c23531"
            }
          ]
        },

        series: [
          {
            name: this.tableObj["y1Title"],
            type: "scatter",
            symbolSize: 8,
            hoverAnimation: false,
            data: this.tableObj["y1"]
          },
          {
            name: this.tableObj["y2Title"],
            type: "line",
            symbolSize: 0,
            hoverAnimation: false,
            data: this.tableObj["y2"]
          },
          {
            name: this.tableObj["y3Title"],
            type: "line",
            symbolSize: 0,
            hoverAnimation: false,
            data: this.tableObj["y3"]
          },
          {
            name: this.tableObj["y4Title"],
            type: "line",
            symbolSize: 0,
            hoverAnimation: false,
            data: this.tableObj["y4"]
          }
        ]
      };
      this.chart.setOption(option);
    },
    handlePeriodChange() {
      this.initTableObj();
      this.initChart();
    }
  }
};
</script>

<style lang="scss" scoped>
</style>
