<template>
  <div>
    <div ref="closeProfitDrawnRef" style="width: 1400px;height:800px;"></div>
  </div>
</template>

<script>
import echarts from "echarts";
export default {
  props: ["table"],
  mounted() {
    this.$nextTick(() => {
      this.initTableObj();
      this.initChart();
    });
  },
  data() {
    return {
      chart: null,
      tableObj: {}
    };
  },
  methods: {
    initTableObj() {
      this.tableObj = {
        legend: ["平仓收益", "回撤"],
        x: this.table.listTradeDate.map(x => x.slice(0, 10)),
        y1Title: "平仓收益",
        y1: this.table.listProfit.map(x => x),
        y2Title: "回撤",
        y2: this.table.listDrawdown.map(x => x)
      };
    },
    initChart() {
      this.chart = echarts.init(this.$refs.closeProfitDrawnRef);
      var option = {
        tooltip: {
          trigger: "axis",
          axisPointer: {
            animation: false,
            type : 'cross'
          }
        },
        legend: {
          data: this.tableObj["legend"],
          top: 10
        },
        toolbox: {
          feature: {
            dataZoom: {
              yAxisIndex: "none"
            },
          }
        },
        axisPointer: {
          link: { xAxisIndex: "all" }
        },
        dataZoom: [
          {
            show: true,
            realtime: true,
            start: 0,
            end: 100,
            xAxisIndex: [0, 1]
          },
          {
            type: "inside",
            realtime: true,
            start: 0,
            end: 100,
            xAxisIndex: [0, 1]
          }
        ],
        grid: [
          {
            left: 50,
            right: 50,
            height: "35%"
          },
          {
            left: 50,
            right: 50,
            top: "55%",
            height: "35%"
          }
        ],
        xAxis: [
          {
            name: "日期",
            type: "category",
            boundaryGap: false,
            axisLine: { onZero: true },
            data: this.tableObj["x"]
          },
          {
            name: "日期",
            gridIndex: 1,
            type: "category",
            boundaryGap: false,
            axisLine: { onZero: true },
            data: this.tableObj["x"],
            position: "top",
            show: false
          }
        ],
        yAxis: [
          {
            name: this.tableObj["y1Title"],
            type: "value"
            //max: 5
          },
          {
            gridIndex: 1,
            name: this.tableObj["y2Title"],
            type: "value",
            inverse: true
          }
        ],
        series: [
          {
            name: this.tableObj["y1Title"],
            type: "line",
            symbolSize: 8,
            hoverAnimation: false,
            data: this.tableObj["y1"]
          },
          {
            name: this.tableObj["y2Title"],
            type: "line",
            xAxisIndex: 1,
            yAxisIndex: 1,
            symbolSize: 8,
            hoverAnimation: false,
            data: this.tableObj["y2"],
            areaStyle: {}
          }
        ]
      };
      this.chart.setOption(option);
    },
    handlePeriodChange() {
      this.initTableObj();
      this.initChart();
    }
  }
};
</script>

<style lang="scss" scoped>
</style>
