<template>
  <div>
    <el-radio-group v-model="period" @change="handlePeriodChange">
      <el-radio label="Day">日</el-radio>
      <el-radio label="Month">月</el-radio>
      <el-radio label="Year">年</el-radio>
    </el-radio-group>
    <div ref="closeProfitBarRef" style="height:780px;"></div>
  </div>
</template>

<script>
import echarts from "echarts";
export default {
  props: ["table"],
  mounted() {
    this.$nextTick(() => {
      this.initTableObj();
      this.initChart();
    });
  },
  data() {
    return {
      chart: null,
      tableObj: {},
      period: "Day"
    };
  },
  methods: {
    initTableObj() {
      this.tableObj = {
        legend: ["平仓盈亏"],
        xTitle: "日期",
        x: this.table["allData"][this.period].map(x => x.Item1.slice(0, 10)),
        y1Title: "平仓盈亏",
        y1: this.table["allData"][this.period].map(x => x.Item2)
      };
    },
    initChart() {
      this.chart = echarts.init(this.$refs.closeProfitBarRef);
      var option = {
        title: {
          text: this.tableObj["title"],
          left: "center"
        },
        tooltip: {
          trigger: "axis",
          axisPointer: {
            animation: false,
            type: "cross"
          }
        },
        legend: {
          data: this.tableObj["legend"],
          top: 10
        },
        toolbox: {
          feature: {
            dataZoom: {
              yAxisIndex: "none"
            }
          }
        },
        axisPointer: {
          link: { xAxisIndex: "all" }
        },
        dataZoom: [
          {
            show: true,
            realtime: true,
            start: 0,
            end: 100,
            xAxisIndex: [0]
          },
          {
            type: "inside",
            realtime: true,
            start: 0,
            end: 100,
            xAxisIndex: [0]
          }
        ],

        visualMap: {
          show: false,
          dimension: 1,
          pieces: [
            {
              lte: 0,
              color: "green"
            },
            {
              gt: 0,
              color: "#c23531"
            }
          ]
        },
        xAxis: [
          {
            name: this.tableObj["xTitle"],
            type: "category",
            boundaryGap: false,
            axisLine: { onZero: true },
            data: this.tableObj["x"]
          }
        ],
        yAxis: [
          {
            name: this.tableObj["y1Title"],
            type: "value"
          }
        ],
        series: [
          {
            name: this.tableObj["y1Title"],
            type: "bar",
            symbolSize: 8,
            hoverAnimation: false,
            data: this.tableObj["y1"]
          },
        ]
      };
      this.chart.setOption(option);
    },
    handlePeriodChange() {
      this.initTableObj();
      this.initChart();
    }
  }
};
</script>

<style lang="scss" scoped>
</style>
