<template>
  <div ref="maxLossChartRef" style="height: 800px"></div>
</template>

<script>
import echarts from "echarts";
export default {
  props: ["table"],
  data() {
    return {
      tableData: [],
      chart: null
    };
  },
  created() {
    this.$nextTick(() => {
      this.initData();
    });
  },
  methods: {
    initData() {
      this.tableData = this.table;
      const x = this.tableData.listTradeDate.map(x => x.slice(0, 10));
      const y = this.tableData.listTradeProfitRate.map(x => x);
      this.chart = echarts.init(this.$refs.maxLossChartRef);
      const option = {
        legend: {
          top: 5
        },
        tooltip: {
          trigger: "axis",
          axisPointer: {
            type: "cross"
          }
        },
        toolbox: {
          show: true,
          feature: {
            dataZoom: { show: true, type: "slider" }
          }
        },
        dataZoom: [
          {
            show: true,
            realtime: true,
            start: 0,
            end: 100,
            xAxisIndex: [0]
          },
          {
            type: "inside",
            realtime: true,
            start: 0,
            end: 100,
            xAxisIndex: [0]
          }
        ],
        xAxis: {
          name: "日期",
          type: "category",
          data: x
        },
        yAxis: {
          name: "最大浮亏",
          type: "value"
        },
        series: [
          {
            name: "最大浮亏",
            data: y,
            type: "scatter"
          }
        ]
      };
      this.chart.setOption(option);
    }
  }
};
</script>

<style lang="scss" scoped>
</style>
