<template>
  <div ref="maxProfitCloseChartRef" style="height: 800px"></div>
</template>

<script>
import echarts from "echarts";
export default {
  props: ["table"],
  data() {
    return {
      tableData: [],
      chart: null
    };
  },
  created() {
    this.$nextTick(() => {
      this.initData();
    });
  },
  methods: {
    initData() {
      this.tableData = this.table;
      this.chartData = [];
      this.tableData.listTradeFloatingProfit.forEach((value, index) => {
        //this.chartData.push([this.tableData.listTradeProfit[index], value]);
        this.chartData.push([value,this.tableData.listTradeProfit[index]]);
      });
      this.chart = echarts.init(this.$refs.maxProfitCloseChartRef);
      const option = {
        dataset: [
          {
            source: this.chartData
          }
        ],
        legend: {
          top: 5
        },
        tooltip: {
          trigger: "axis",
          axisPointer: {
            type: "cross"
          }
        },
        toolbox: {
          show: true,
          feature: {
            dataZoom: { show: true}
          }
        },
        dataZoom: [
          {
            show: true,
            realtime: true,
            start: 0,
            end: 100,
            xAxisIndex: [0]
          },
          {
            type: "inside",
            realtime: true,
            start: 0,
            end: 100,
            xAxisIndex: [0]
          }
        ],
        xAxis: {
          name: "最大浮盈",
          splitLine: {
            lineStyle: {
              type: "dashed"
            }
          }
        },
        yAxis: {
          name: "平仓盈亏",
          splitLine: {
            lineStyle: {
              type: "dashed"
            }
          }
        },
        visualMap: {
          show: false,
          dimension: 1,
          pieces: [
            {
              lte: 0,
              color: "green"
            },
            {
              gt: 0,
              color: "#c23531"
            }
          ]
        },
        series: [
          {
            name: "平仓盈亏",
            type: "scatter"
          }
        ]
      };
      this.chart.setOption(option);
    }
  }
};
</script>

<style lang="scss" scoped>
</style>
