<template>
  <div :class="className" :style="{ height: height, width: width }" />
</template>

<script>
import echarts from "echarts";
export default {
  name: "",
  props: {
    className: {
      type: String,
      default: "chart",
    },
    width: {
      type: String,
      default: "100%",
    },
    lineType: {
      type: String,
      default: "bar",
    },
    height: {
      type: String,
      default: "70rem",
    },
    chartData: {
      type: Object,
      required: true,
    },
  },
  data() {
    return {
      chart: null,
    };
  },
  watch: {
    chartData: {
      deep: true,
      handler(val) {
        if (val) {
          this.chart.clear();
          this.setOptions(val);
          this.chart.resize();
        }
      },
    },
  },
  components: {},

  computed: {},

  beforeMount() {},
  mounted() {
    this.$nextTick(() => {
      this.initChart();
    });
  },
  beforeDestroy() {
    if (!this.chart) {
      return;
    }
    this.chart.dispose();
    this.chart = null;
  },
  methods: {
    initChart() {
      this.chart = echarts.init(this.$el);
      this.setOptions(this.chartData);
    },
    // 这里修正数据
    getchartData() {
      const x = this.chartData["listTradeDate"].map((x) => x.slice(0, 10));
      const listProfit = this.chartData["listProfit"];
      const listCommission = this.chartData["listCommission"];
      const listDeposit = this.chartData["listDeposit"];
      return { x, listProfit, listCommission, listDeposit };
    },
    setOptions() {
      this.chart.clear();
      const gridOption = [
        {
          left: "10%",
          right: "10%",
          height: "25%",
        },
        {
          left: "10%",
          right: "10%",
          height: "20%",
          top: "35%",
        },
        {
          left: "10%",
          right: "10%",
          height: "20%",
          top: "60%",
        },
      ];
      var dataZoomOption = [
        {
          type: "inside",
          show: true,
          realtime: true,
          start: 0,
          end: 100,
          xAxisIndex: [0, 1, 2],
        },
        {
          type: "slider",
          realtime: true,
          start: 0,
          end: 100,
          xAxisIndex: [0, 1, 2],
        },
      ];
      var yAxisOption = [
        {
          scale: true,
          splitArea: {
            show: true,
          },
        },
        {
          scale: true,
          gridIndex: 1,
          splitArea: {
            show: true,
          },
        },
        {
          scale: true,
          gridIndex: 2,
          splitArea: {
            show: true,
          },
        },
      ];
      const chartDd = this.getchartData();
      if (!chartDd) {
        this.$message("数据异常");
        console.log(chartDd);
        return;
      }
      var xAxisOption = [
        {
          data: chartDd["x"],
          type: "category",
          min: "dataMin",
          max: "dataMax",
          boundaryGap: true,
          axisTick: {
            alignWithLabel: true,
          },
        },
        {
          show: false,
          gridIndex: 1,
          type: "category",
          min: "dataMin",
          max: "dataMax",
          data: chartDd["x"],
          position: "top",
        },
        {
          show: false,
          gridIndex: 2,
          type: "category",
          min: "dataMin",
          max: "dataMax",
          data: chartDd["x"],
          position: "top",
        },
      ];
      const legendName = ["数值收益(累加)", "手续费", "资金占用"];
      var seriesOption = [
        {
          name: legendName[0],
          type: "line",
          xAxisIndex: 0,
          yAxisIndex: 0,
          data: chartDd["listProfit"],
        },
        {
          name: legendName[1],
          type: "line",
          xAxisIndex: 1,
          yAxisIndex: 1,
          data: chartDd["listCommission"],
        },
        {
          name: legendName[2],
          type: "line",
          xAxisIndex: 2,
          yAxisIndex: 2,
          data: chartDd["listDeposit"],
        },
      ];

      var option = {
        // 十字星指示
        tooltip: {
          trigger: "axis",
          axisPointer: {
            type: "cross",
          },
        },
        // 图表
        toolbox: {
          feature: {
            dataZoom: {
              yAxisIndex: false,
            },
          },
        },
        legend: {
          data: legendName,
        },
        dataZoom: dataZoomOption,
        grid: gridOption,
        xAxis: xAxisOption,
        yAxis: yAxisOption,
        series: seriesOption,
      };
      this.chart.setOption(option);
    },
  },
};
</script>

<style>
</style>