<template>
  <div :class="className" :style="{ height: height, width: width }" />
</template>

<script>
import echarts from "echarts";
export default {
  name: "",
  props: {
    className: {
      type: String,
      default: "chart",
    },
    width: {
      type: String,
      default: "100%",
    },
    lineType: {
      type: String,
      default: "bar",
    },
    height: {
      type: String,
      default: "50rem",
    },
    chartData: {
      type: Object,
      required: true,
    },
  },
  data() {
    return {
      chart: null,
    };
  },
  watch: {
    chartData: {
      deep: true,
      handler(val) {
        if (val) {
          this.chart.clear();
          this.setOptions(val);
          this.chart.resize();
        }
      },
    },
  },
  components: {},

  computed: {},

  beforeMount() {},
  mounted() {
    this.$nextTick(() => {
      this.initChart();
    });
  },
  beforeDestroy() {
    if (!this.chart) {
      return;
    }
    this.chart.dispose();
    this.chart = null;
  },
  methods: {
    initChart() {
      this.chart = echarts.init(this.$el);
      if (this.chartData.x) {
        this.setOptions(this.chartData);
      }
    },
    // 这里修正数据
    getchartData() {
      
    },
    setOptions() {
      const datetime = this.chartData.x;
      const y = this.chartData.y;
      let legendOption = y.map((x) => {
        return x.name;
      });
      const xAxisOption = {
        type: "category",
        min: "dataMin",
        max: "dataMax",
        data: datetime,
      };
      let seriesOption = y.map((x) => {
        return {
          name: x.name,
          type: this.lineType,
          data: x.data,
        };
      });
      var option = {
        // 十字星指示
        tooltip: {
          trigger: "axis",
          axisPointer: {
            type: "cross",
          },
        },
        // 图表
        toolbox: {
          feature: {
            dataZoom: {
              yAxisIndex: false,
            },
          },
        },
        legend: {
          data: ["数值收益(累加)", "手续费", "资金占用"],
        },
        grid: [
          {
            left: "10%",
            right: "10%",
          },
        ],
        xAxis: xAxisOption,
        yAxis: [
          {
            scale: true,
            splitArea: {
              show: true,
            },
          },
        ],
        series: seriesOption,
      };
      this.chart.setOption(option);
    },
  },
};
</script>

<style>
</style>