<template>
  <div>
    <el-table :data="currentTableData" stripe border max-height="800">
      <el-table-column type="index"></el-table-column>
      <el-table-column prop="Code" label="商品代码"></el-table-column>
      <el-table-column prop="DealTime" align="center" label="交易时间" width="170"></el-table-column>
      <el-table-column prop="StringEnumOrderType" label="交易类型"></el-table-column>
      <el-table-column prop="Amount" label="数量"></el-table-column>
      <el-table-column prop="Commission" label="交易成本"></el-table-column>
      <el-table-column prop="DealPrice" label="成交价格"></el-table-column>
      <el-table-column prop="HoldPositionPrice" label="持仓均价"></el-table-column>
      <el-table-column prop="NetProfit" label="净利润"></el-table-column>
      <el-table-column label="收益率">
        <template slot-scope="scope">{{scope.row.ProfitRate}}%</template>
      </el-table-column>
      <el-table-column prop="OpenDeposit" label="开仓保证金"></el-table-column>
      <el-table-column prop="SlipFees" label="滑点费用"></el-table-column>
    </el-table>
    <el-pagination
      @size-change="handleSizeChange"
      @current-change="handleCurrentChange"
      :current-page="currentPage"
      :page-sizes="[2, 5, 10, 20, 50]"
      :page-size="pageSize"
      layout="total, sizes, prev, pager, next, jumper"
      :total="tableData.length"
    ></el-pagination>
  </div>
</template>

<script>
export default {
  props: ["table"],
  data() {
    return {
      tableData: [],
      currentPage: 1,
      pageSize: 20
    };
  },
  created() {
    this.initData();
  },
  computed: {
    currentTableData() {
      const startIndex = (this.currentPage - 1) * this.pageSize;
      const currentTable = this.tableData.slice(
        startIndex,
        startIndex + this.pageSize
      );
      return currentTable;
    }
  },
  methods: {
    initData() {
      this.tableData = this.table.ListTradeDetail;
    },
    handleSizeChange(newSize) {
      this.pageSize = newSize;
    },
    handleCurrentChange(newPage) {
      this.currentPage = newPage;
    }
  }
};
</script>

<style lang="scss" scoped>
</style>
