<template>
  <div>
    <div v-show="inputType == 'JYMX_Table'"></div>
    <pcsyqx
      v-if="inputType == 'PCSYQX_Table'"
      :chartData="data.PCSYQX_Table"
    ></pcsyqx>
  </div>
</template>

<script>
import pcsyqx from "./pCSYQX_Table";
export default {
  props: {
    inputType: {
      type: String,
      default: "PCSYQX_Table",
    },
    data: {
      type: Object,
      default: {},
    },
  },
  components: {
    pcsyqx: pcsyqx,
  },
  computed: {
    isPic() {
      return true;
    },
    isTable() {
      return this.inputType == "ZTGY_Table";
    },
  },
  mounted() {},
  methods: {},
  data() {
    return {
      chartData: {},
    };
  },
};
</script>

<style>
</style>